<div ng-init="record=record.metadata.metadata" class="cds-detail-video bg-n mt--20 pb-20">
  <!-- Video Section -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- Embed Video -->
        <div ng-if="record.metadata.recid" class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item"
                  frameborder="0"
                  ng-src="{{ '' | previewIframeSrc: record.metadata.recid(record | findMaster).key }}"
                  allowfullscreen>
          </iframe>
        </div>
        <!-- ./Embed Video -->
      </div>
    </div>
  </div>
  <!-- /Video Section -->
  <!-- Metadata Section -->
  <div class="container">
    <div class="row">
      <!-- Left Column -->
      <div class="col-md-8">
        <!-- Section -->
        <div class="cds-detail cds-detail-video cds-div-shadow bg-w pt-10 px-20 pb-20 mt-20">
          <!-- DOI and report number -->
          <div class="text-right">
            <ul class="list-inline">
              <li ng-if="record.metadata.doi">
                <ng-include src="'/static/templates/cds_records/doi.html'"></ng-include>
              </li>
              <li class="pr-0" ng-if="record.metadata.report_number.report_number">
                <ng-include src="'/static/templates/cds_records/report_number.html'"></ng-include>
              </li>
            </ul>
          </div>
          <!-- /DOI and report number -->
          <!-- Title -->
          <div class="cds-detail-title cds-detail-video-title">
            <hgroup>
              <h1 class="mb-0 f4 fw-n t-b">{{ ::record.metadata.title.title }}</h1>
              <h2 class="cds-detail-secondary-title text-muted mt-0 f4 fw-n"><em>{{ ::record.metadata.title.title }}</em></h2>
            </hgroup>
          </div>
          <!-- /Title -->
          <!-- Date & Views -->
          <div class="cds-detail-date cds-detail-video-date my-20">
            <div class="row">
              <div class="col-md-6">
                <div class="text-muted f9">
                  {{ ::record.metadata.copyright.year || '2017' }} &copy; {{ ::record.metadata.copyright.holder || 'CERN' }}
                </div>
              </div>
              <div class="col-md-6">
                <div class="text-right text-muted f9">
                  300000 views
                </div>
              </div>
            </div>
          </div>
          <!-- Date & Views -->
          <!-- Description -->
          <hr />
          <div class="cds-detail-description cds-detail-video-description t-b">
            <p class="f9 mb-20">Uploaded on {{ ::record.metadata.date }}</p>
            <p class="f8 mb-20" ng-bind-html="(record.metadata.description.value | stripTags | trustHtml) || 'No description'"></p>
          </div>
          <!-- /Description -->
          <!-- More -->
          <div class="cds-detail-description cds-detail-video-description t-b">
            <hr />
            <ul class="list-unstyled">
              <li ng-repeat="(role, contribs) in record.metadata.contributors | groupBy:'role'">
                <h3 class="f9">{{ role }}</h3>
                <ul class="list-unstyled" ng-repeat="contrib in contribs">
                  <li>
                    <a ng-href='/search?q=contributors.name:"{{ :: contrib.name }}"'>{{ contrib.name }}</a>  {{ contrib.affiliations ? '-' + contrib.affiliations.join(',') : ''}}
                  </li>
                </ul>
              </li>
              <li>
                <h3 class="f9 tw-b">License</h3>
                <ul class="list-unstyled" ng-repeat="license in record.metadata.license">
                  <li>
                    <a ng-href='{{ :: license.url }}'>{{ license.license }}</a>
                  </li>
                </ul>
              </li>
              <li>
                <h3 class="f9 tw-b">Language</h3>
                <a ng-href='/search?q=language:"{{ :: record.metadata.language }}"'>{{ record.metadata.language }}</a>
              </li>
              <li ng-if="record.metadata.related_links.length > 0">
                <h3 class="f9 tw-b">Related links</h3>
                <ul ng-repeat="related_link in record.metadata.related_links">
                  <li>
                    <a ng-href='{{ :: related_link.url | absoluteURL }}' target="_blank">{{ related_link.name }}</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="cds-detail-more cds-detail-video-more">
            <ng-include src="'/static/templates/cds_records/keywords.html'"></ng-include>
            <hr ng-if="record.metadata.keywords.length >0" />
          </div>
          <div class="cds-detail-more cds-detail-video-more">
            <p class="text-muted mt-10 mb-0">
            <a ng-if="record.links.project_html" ng-href="{{:: record.links.project_html}}">Other videos in this project</a>
            <a ng-if="!record.links.project_html" ng-href="/search?q=_project_id:{{:: record.metadata._project_id}}">Other videos in this project</a>
            </p>
          </div>
          <!-- /More -->
          </div>
        </div>
        <!-- /Section -->
      <!-- /Left Column -->
      <!-- Right Column -->
      <div class="col-md-4">
        <!-- Section Download -->
        <div class="cds-detail cds-detail-video cds-div-shadow bg-w pt-10 px-20 pb-20 mt-20 t-b">
          <ng-include src="'/static/templates/cds_records/video/downloads.html'"></ng-include>
        </div>
        <!-- /Section Download -->
        <!-- Section Share -->
        <div class="cds-detail cds-detail-video cds-div-shadow bg-w pt-10 px-20 pb-20 mt-20 t-b">
          <ng-include src="'/static/templates/cds_records/video/share.html'"></ng-include>
        </div>
        <!-- /Section Share -->
        <!-- Section Technical Metadata -->
        <div class="cds-detail cds-detail-video cds-div-shadow bg-w pt-10 px-20 pb-20 mt-20 t-b">
          <ng-include src="'/static/templates/cds_records/video/technical_metadata.html'"></ng-include>
        </div>
        <!-- /Section Technical Metadata -->
      </div>
      <!-- /Right Column -->
    </div>
  </div>
  <!-- /Metadata Section -->
</div>
