<div class="cds-detail-video bg-n mt--20 pb-20">
  <!-- Video Section -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- Embed Video -->
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" frameborder="0" ng-src="{{ '' | previewIframeSrc: record.recid:record._files[0].key }}" allowfullscreen></iframe>
        </div>
        <!-- ./Embed Video -->
      </div>
    </div>
  </div>
  <!-- /Video Section -->

  <!-- Metadata Section -->
  <div class="container">
    <div class="row">
      <!-- Left Column -->
      <div class="col-sm-8">
        <!-- Section -->
        <div class="cds-detail cds-detail-video cds-div-shadow bg-w pt-10 px-20 pb-20 mt-20">
          <!-- DOI and report number -->
          <div class="text-right">
            <ul class="list-inline">
              <li ng-if="record.doi">
                <ng-include src="'/static/templates/cds_records/doi.html'"></ng-include>
              </li>
              <li class="pr-0" ng-if="record.report_number.report_number">
                <span class="label label-info">{{ ::record.report_number.report_number }}</span>
              </li>
            </ul>
          </div>
          <!-- /DOI and report number -->
          <!-- Title -->
          <div class="cds-detail-title cds-detail-video-title">
            <h1 class="mb-0 f4 fw-n t-b">{{ ::record.title.title }}</h1>
            <h1 class="cds-detail-secondary-title text-muted mt-0 f4 fw-n"><em>{{ ::record.title.title }}</em></h1>
          </div>
          <!-- /Title -->
          <!-- Date & Views -->
          <div class="cds-detail-date cds-detail-video-date my-20">
            <div class="row">
              <div class="col-sm-6">
                <div class="text-muted f7">
                  {{ ::record.copyright.year || '2017' }} &copy; {{ ::record.copyright.holder || 'CERN' }}
                </div>
              </div>
              <div class="col-sm-6">
                <div class="text-right text-muted f7">
                  300000 views
                </div>
              </div>
            </div>
          </div>
          <!-- Date & Views -->
          <!-- Description -->
          <hr />
          <div class="cds-detail-description cds-detail-video-description t-b">
            <p class="mb-0"><strong>Uploaded on {{ ::record.date }}</strong></p>
            <p class="f7 mb-20">{{ ::record.description.value }}</p>
            <p class="text-muted mt-10 mb-0">
              <a ng-href="/search?q=_project_id:{{:: record._project_id}}">Other videos in this project</a>
            </p>
          </div>
          <!-- /Description -->
          <!-- More -->
          <div class="cds-detail-more cds-detail-video-more">
          </div>
          <!-- /More -->
          </div>
        </div>
        <!-- /Section -->
      <!-- /Left Column -->
      <!-- Right Column -->
      <div class="col-sm-4">
        <!-- Section Download -->
        <div class="cds-detail cds-detail-video cds-div-shadow bg-w pt-10 px-20 pb-20 mt-20 t-b">
          <ng-include src="'/static/templates/cds_records/video/downloads.html'"></ng-include>
        </div>
        <!-- /Section Download -->
        <!-- Section Share -->
        <div class="cds-detail cds-detail-video cds-div-shadow bg-w pt-10 px-20 pb-20 mt-20 t-b">
          <ng-include src="'/static/templates/cds_records/video/share.html'"></ng-include>
        </div>
        <!-- /Section Share -->
        <!-- Section Technical Metadata -->
        <div class="cds-detail cds-detail-video cds-div-shadow bg-w pt-10 px-20 pb-20 mt-20 t-b">
          <ng-include src="'/static/templates/cds_records/video/technical_metadata.html'"></ng-include>
        </div>
        <!-- /Section Technical Metadata -->
      </div>
      <!-- /Right Column -->
    </div>
  </div>
  <!-- /Metadata Section -->
</div>

<!-- Recent videos -->
<div id="cds-recent-videos" class="bg-w pt-20 pb-20">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- Title -->
        <div class="cds-title-section pt-10 mb-20 l-b">
          <h2 class="cds-title-section-decoration bt bw-2 mb-5 pt-10">RELATED</h2>
        </div>
        <!-- Title -->
      </div>
    </div>
    <!-- List group -->
    <invenio-search
      search-endpoint='/api/records/?featured=1&size=6'
    >
      <invenio-search-results
        template="/templates/cds/video/medium.html">
      </invenio-search-results>
    </invenio-search>
  </div>
</div>
<!-- Recent videos -->
