<!-- Download -->
<div class="cds-detail-title cds-detail-video-title">
  <h3 class="cds-title-section-decoration bt bw-1 pt-10 mb-20">
    <i class="fa fa-download"></i> Download
  </h3>
</div>

<!-- Subformat -->
<div class="cds-video-subformats mb-20">
  <div class="row">
    <div class="col-md-12">
      <a class="f8 display-block" ng-click="showAllDownloads = !showAllDownloads">
        Files
        <p class="pull-right">
          <span ng-show="showAllDownloads"><i class="fa fa-angle-up"></i></span>
          <span ng-show="!showAllDownloads"><i class="fa fa-angle-down"></i></span>
        </p>
      </a>
    </div>
  </div>
  <div ng-hide="(record | findMaster).subformat.length > 0" class="text-center">
    <p class="text-muted">Not available :(</p>
  </div>
  <div ng-show="(record | findMaster).subformat.length > 0" class="cds-detail-download-box cds-detail-video-download-box">

    <div class="list-group">
      <a ng-repeat="file in (record | findMaster).subformat" ng-if="file.tags.download == 'true'" class="list-group-item" ng-href="{{ file.links.self }}">
        {{ file.tags.preset_quality }} <span class="pull-right">({{ file.size | bytesToHumanReadable }})</span>
      </a>
      <div ng-show="showAllDownloads">
        <a ng-repeat="file in (record | findMaster).subformat" ng-if="file.tags.download != 'true'" class="list-group-item" ng-href="{{ file.links.self }}">
          {{ file.tags.preset_quality }} <span class="pull-right">({{ file.size | bytesToHumanReadable }})</span>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- /Subformat -->
<!-- Frame -->
<div class="cds-video-subformats mb-20">
  <div class="row">
    <div class="col-md-12">
      <a class="f8 display-block" ng-click="showAllFrames = !showAllFrames">
        Frames
        <p class="pull-right">
          <span ng-show="showAllFrames"><i class="fa fa-angle-up"></i></span>
          <span ng-show="!showAllFrames"><i class="fa fa-angle-down"></i></span>
        </p>
      </a>
    </div>
  </div>
  <div ng-hide="(record | findMaster).frame.length > 0" class="text-center">
    <p class="text-muted">Not available frames</p>
  </div>
  <div ng-show="(record | findMaster).frame.length > 0 && showAllFrames" class="cds-detail-download-box cds-detail-video-download-box">
    <div class="list-group" >
      <a ng-repeat="file in (record | findMaster).frame" class="list-group-item" ng-href="{{ file.links.self }}">
        {{ file.key }} <span class="pull-right">({{ file.size | bytesToHumanReadable }})</span>
      </a>
    </div>
  </div>
</div>
<!-- /Frame -->
<!-- Additional files -->
<div ng-if="record.metadata._files.length > 1" class="cds-video-subformats mb-20">
  <div class="row">
    <div class="col-md-12">
      <a class="f8 display-block" ng-click="showAllAdditionalFiles = !showAllAdditionalFiles">
        Additional Files
        <p class="pull-right">
          <span ng-show="showAllAdditionalFiles"><i class="fa fa-angle-up"></i></span>
          <span ng-show="!showAllAdditionalFiles"><i class="fa fa-angle-down"></i></span>
        </p>
      </a>
    </div>
  </div>
  <div ng-hide="record.metadata._files.length > 1" class="text-center">
    <p class="text-muted">Not available.</p>
  </div>
  <div ng-show="record.metadata._files.length > 1 && showAllAdditionalFiles" class="cds-detail-download-box cds-detail-video-download-box">
    <div class="list-group">
      <a title="{{file.key}}" ng-repeat="file in record.metadata._files" class="list-group-item" ng-href="{{ file.links.self }}"  ng-hide="file.context_type == 'master'">
        {{ file.key | limitTo: 25 }} <span ng-show="file.key.length > 25">[...]</span> <span class="pull-right">({{ file.size | bytesToHumanReadable }})</span>
      </a>
    </div>
  </div>
</div>
<!-- /Additional files -->
<hr />
<!-- Master file -->
<div class="cds-video-master-file mb-20">
  <a ng-click="dialogShown = true" class="btn btn-block btn-default">Download Master file ({{ (record | findMaster).size | bytesToHumanReadable }})</a>
</div>

<modal-dialog show="dialogShown" dialog-title="Terms of use for CERN audiovisual media" width="75%">
  <div>
    <p>Use of CERN audiovisual media denotes agreement with the following terms: </p>
      <ol>
        <li>CERN provides the image free of charge for educational and informational use.</li>
        <li>The image is provided “as-is” and the user shall hold CERN free and harmless in connection with its use.</li>
        <li>CERN is to be credited as the source of the image.</li>
        <li>CERN retains copyright in the image. Download and use of the image does not amount to a transfer of intellectual property.</li>
        <li>The image may not be used in a misleading, inappropriate or offensive manner, in a military context, in advertising or promotion, or in a manner that suggests any kind of endorsement by CERN or its personnel.</li>
        <li>The image may not be sold, distributed or otherwise made available for use by third parties.</li>
        <li>The CERN logo is legally protected. CERN’s prior written approval shall be obtained for its use or for the use of any image primarily featuring the logo.</li>
        <li>CERN reserves the right to alter or delete images without notice.</li>
        <li>Please contact us by using the contact form if you have any questions or comments with respect to CERN content; if you are unsure whether your intended use meets these terms; or, if you seek permission for use of the CERN logo or any other use that does not fall within these terms.</li>
        <li>CERN appreciates your interest in its work.  More information about CERN is available at www.cern.ch.</li>
      </ol>
    <p>Copyright abuse should be reported using the contact form.</p>
  </div>
  <p class="pull-right">
    <a ng-href="{{ (record | findMaster).links.self }}" download>
      <button class="btn btn-success" ng-click="$parent.hideModal()">Agree</button>
    </a>
    <button class="btn btn-danger" ng-click="$parent.hideModal()">Refuse</button>
  </p>
</modal-dialog>
<!-- /Download -->
