<!-- Download -->
<div class="cds-detail-title cds-detail-video-title">
  <h3 class="cds-title-section-decoration bt bw-1 pt-10 mb-0">
    <i class="fa fa-download"></i> Download
  </h3>
  <p class="cds-detail-video-subtitle">
    By downloading any of these files you accept
    <a href="http://copyright.web.cern.ch/" class="cds-detail-video-link" target="_blank">CERN's Terms of Use</a>
  </p>
</div>

<!-- Subformat -->
<div ng-if="(record | findMaster).key" class="cds-video-subformats pb-20">
  <div ng-show="(((record | findMaster).subformat | groupDownloadable).download||[]).length > 0" class="cds-detail-download-box cds-detail-video-download-box">
    <div class="download-list-wrapper">
      <div ng-repeat="(type, subs) in ((record | findMaster).subformat | groupDownloadable).download |  groupBy:'tags.type':'others'">
        <div class="download-list-container">
          <p class="mt-10 tw-b text-uppercase text-muted">{{ type }}</p>
          <div class="download-list-group">
            <div class="download-list-item" ng-repeat="file in subs" popover>
              <span>{{ file.tags.preset_quality }} <span class="download-list-fade">|</span> {{ file.size | bytesToHumanReadable }}</span>
              <div class="download-list-item-container">
                <a class="download-list-item-checksum" rel="popover" title="md5 checksum" data-placement="bottom" data-content="{{file.checksum}}">checksum</a>
                <a class="btn btn-default download-list-item-button" ng-href="{{ file.links.self | download }}" ng-click="logMediaDownload(file)" target="_blank">Download</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Master file -->
  <div class="download-list-container">
    <div class="download-list-header" popover>
      <p class="mt-10 tw-b text-uppercase text-muted">for broadcasters</p>
      <a class="download-list-header-warning" rel="popover" data-placement="bottom" data-html="true" data-content="<strong>Warning: Big file!</strong><br>As no network or browser is 100% stable, we <em>strongly</em> recommend using a download manager.">
        <i class="fa fa-info-circle"></i>
      </a>
    </div>
    <div class="download-list-group">
      <div class="download-list-item">
        <span>{{ (record | findMaster) | findResolution }} <span class="download-list-fade">|</span> {{ (record | findMaster).size | bytesToHumanReadable}}</span>
        <div class="download-list-item-container" popover>
          <a class="download-list-item-checksum" rel="popover" title="md5 checksum" data-placement="bottom" data-content="{{(record | findMaster).checksum}}">checksum</a>
          <a class="btn btn-default download-list-item-button" ng-href="{{ (record | findMaster).links.self | download }}" ng-click="logMediaDownload(record | findMaster);" target="_blank">Download</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div ng-if="!(record | findMaster).key" class="cds-video-subformats">
  <p class="text-muted text-center">
    No master file available.
  </p>
</div>
<!-- /Subformat -->

<!-- Other formats -->
<div ng-show="(((record | findMaster).subformat | groupDownloadable).additional||[]).length > 0" class="cds-video-subformats bt bw-1 bc-gl pt-10 pb-10">
  <div class="row">
    <div class="col-md-12">
      <a class="f8 display-block mt-5" ng-click="showAllOtherFiles = !showAllOtherFiles">
        Other video formats
        <p class="pull-right mb-0">
          <span ng-show="showAllOtherFiles">
            <i class="fa f5 fa-angle-up"></i>
          </span>
          <span ng-show="!showAllOtherFiles">
            <i class="fa f5 fa-angle-down"></i>
          </span>
        </p>
      </a>
    </div>
  </div>
  <div ng-show="(((record | findMaster).subformat | groupDownloadable).additional||[]).length > 0 && showAllOtherFiles" class="cds-detail-download-box cds-detail-video-download-box mt-5">
    <div>
      <div class="download-list-item" ng-repeat="file in (((record | findMaster).subformat | groupDownloadable).additional | sortVideosDescending)" popover>
        <span>{{ file.tags.preset_quality }} <span class="download-list-fade">|</span> {{ file.size | bytesToHumanReadable }}</span>
        <div class="download-list-item-container">
          <a class="download-list-item-checksum" rel="popover" title="md5 checksum" data-placement="bottom" data-content="{{file.checksum}}">checksum</a>
          <a class="btn btn-default download-list-item-button" ng-href="{{ file.links.self | download }}" ng-click="logMediaDownload(file)" target="_blank">Download</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Other formats -->

<!-- Frame -->
<div ng-if="(record | findMaster).frame.length > 0" class="cds-video-subformats bt bw-1 bc-gl pt-10 pb-10">
  <div class="row">
    <div class="col-md-12">
      <a class="f8 display-block" ng-click="showAllFrames = !showAllFrames">
        Thumbnails
        <p class="pull-right mb-0">
          <span ng-show="showAllFrames">
            <i class="fa f5 fa-angle-up"></i>
          </span>
          <span ng-show="!showAllFrames">
            <i class="fa f5 fa-angle-down"></i>
          </span>
        </p>
      </a>
    </div>
  </div>
  <div ng-show="(record | findMaster).frame.length > 0 && showAllFrames" class="cds-detail-download-box cds-detail-video-download-box  mt-5">
    <div class="list-group">
      <a ng-repeat="file in (record | findMaster).frame" class="download-list-item-other" ng-href="{{ file.links.self | download }}" target="_blank">
        {{ file.key }}
        <span class="pull-right">
          <small>{{ file.size | bytesToHumanReadable }}</small>
        </span>
      </a>
    </div>
  </div>
</div>
<!-- /Frame -->

<!-- Subtitles -->
<div ng-if="(record.metadata._files | getFilesByType: ['subtitle']).length > 0" class="cds-video-subformats bt bw-1 bc-gl pt-10 pb-10">
  <div class="row">
    <div class="col-md-12">
      <a class="f8 display-block" ng-click="showAllAdditionalFiles = !showAllAdditionalFiles">
        Subtitles
        <p class="pull-right mb-0">
          <span ng-show="showAllAdditionalFiles">
            <i class="fa f5 fa-angle-up"></i>
          </span>
          <span ng-show="!showAllAdditionalFiles">
            <i class="fa f5 fa-angle-down"></i>
          </span>
        </p>
      </a>
    </div>
  </div>
  <div ng-show="record.metadata._files.length > 1 && showAllAdditionalFiles" class="cds-detail-download-box cds-detail-video-download-box mt-5">
    <div class="list-group">
      <a title="{{file.key}}" ng-repeat="file in (record.metadata._files | getFilesByType: ['subtitle'])" class="download-list-item-other" ng-href="{{ file.links.self | download }}" ng-hide="file.context_type == 'master'" target="_blank">
        {{ file.tags.language | isoToLanguage }}
        <span class="pull-right">
          <small>{{ file.size | bytesToHumanReadable }}</small>
        </span>
      </a>
    </div>
  </div>
</div>
<!-- /Subtitles -->

<!-- Additional files -->
<div ng-if="(record.metadata._files | getAllFilesExcept: ['subtitle']).length > 1" class="cds-video-subformats bt bw-1 bc-gl pt-10 pb-10">
  <div class="row">
    <div class="col-md-12">
      <a class="f8 display-block" ng-click="showAllAdditionalFiles = !showAllAdditionalFiles">
        Additional files
        <p class="pull-right mb-0">
          <span ng-show="showAllAdditionalFiles">
            <i class="fa f5 fa-angle-up"></i>
          </span>
          <span ng-show="!showAllAdditionalFiles">
            <i class="fa f5 fa-angle-down"></i>
          </span>
        </p>
      </a>
    </div>
  </div>
  <div ng-show="record.metadata._files.length > 1 && showAllAdditionalFiles" class="cds-detail-download-box cds-detail-video-download-box mt-5">
    <div class="list-group">
      <a title="{{file.key}}" ng-repeat="file in (record.metadata._files | getAllFilesExcept: ['subtitle'])" class="download-list-item-other" ng-href="{{ file.links.self | download }}" ng-hide="file.context_type == 'master'" target="_blank">
        {{ file.key | ellipsis: 25 }}
        <span class="pull-right">
          <small>{{ file.size | bytesToHumanReadable }}</small>
        </span>
      </a>
    </div>
  </div>
</div>
<!-- /Additional files -->
<!-- /Download -->
