<!-- Download -->
<div class="cds-detail-title cds-detail-video-title">
  <h3 class="cds-title-section-decoration bt bw-1 pt-10 mb-20">
    <i class="fa fa-download"></i> Download
  </h3>
</div>

<!-- Master file -->
<div class="cds-video-master-file mb-20">
  <h4>Master File</h4>
  <div>
    <ul>
      <li>
        <a ng-click="dialogShown = true">
          {{ record._files[0].key }}
        </a>
      </li>
    </ul>
  </div>
</div>

<modal-dialog show="dialogShown" dialog-title="Terms of use for CERN audiovisual media" width="75%">
  <div>
    <p>Use of CERN audiovisual media denotes agreement with the following terms: </p>
      <ol>
        <li>CERN provides the image free of charge for educational and informational use.</li>
        <li>The image is provided “as-is” and the user shall hold CERN free and harmless in connection with its use.</li>
        <li>CERN is to be credited as the source of the image.</li>
        <li>CERN retains copyright in the image. Download and use of the image does not amount to a transfer of intellectual property.</li>
        <li>The image may not be used in a misleading, inappropriate or offensive manner, in a military context, in advertising or promotion, or in a manner that suggests any kind of endorsement by CERN or its personnel.</li>
        <li>The image may not be sold, distributed or otherwise made available for use by third parties.</li>
        <li>The CERN logo is legally protected. CERN’s prior written approval shall be obtained for its use or for the use of any image primarily featuring the logo.</li>
        <li>CERN reserves the right to alter or delete images without notice.</li>
        <li>Please contact us by using the contact form if you have any questions or comments with respect to CERN content; if you are unsure whether your intended use meets these terms; or, if you seek permission for use of the CERN logo or any other use that does not fall within these terms.</li>
        <li>CERN appreciates your interest in its work.  More information about CERN is available at www.cern.ch.</li>
      </ol>
    <p>Copyright abuse should be reported using the contact form.</p>
  </div>
  <p class="pull-right">
    <a ng-href="{{ record._files[0].links.self }}" download>
      <button class="btn btn-success" ng-click="$parent.hideModal()">Agree</button>
    </a>
    <button class="btn btn-danger" ng-click="$parent.hideModal()">Refuse</button>
  </p>
</modal-dialog>

<!-- Subformat -->
<div class="cds-video-subformats mb-20">
  <h4>Subformats</h4>
  <div ng-hide="record._files[0].subformat.length > 0" class="text-center">
    <p class="text-muted">Not available :(</p>
  </div>
  <div ng-show="record._files[0].subformat.length > 0" class="cds-detail-download-box cds-detail-video-download-box">
    <ul ng-repeat="file in record._files[0].subformat">
      <li>
        <a ng-href="{{ file.links.self }}">
          {{ file.tags.preset_quality }}
        </a>
      </li>
    </ul>
  </div>
</div>
<!-- /Subformat -->
<!-- Subformat -->
<div class="cds-video-subformats mb-20">
  <h4>Addition Files</h4>
  <div ng-hide="record._files.length > 1" class="text-center">
    <p class="text-muted">Not available.</p>
  </div>
  <div ng-show="record._files.length > 1" class="cds-detail-download-box cds-detail-video-download-box">
    <ul ng-repeat="file in record._files">
      <li>
        <a ng-href="{{ file.links.self }}">
          {{ file.tags.preset_quality }}
        </a>
      </li>
    </ul>
  </div>
</div>
<!-- /Subformat -->
<!-- /Download -->
