<div ng-init="technicalExpand=false">
  <div class="cds-detail-title cds-detail-video-title">
    <h3 class="cds-title-section-decoration bt bw-1 pt-10 mb-20"><i class="fa fa-cogs"></i> Technical Metadata</h3>
  </div>
  <div ng-hide="(record | findMaster).tags" class="text-center">
    <p class="text-muted">Not available</p>
  </div>
  <div ng-show="(record | findMaster).tags" class="cds-detail-download-box cds-detail-video-download-box cds-transition">
    <ul ng-repeat="(key, value) in (record | findMaster).tags">
      <li ng-hide="($index > 2 && !technicalExpand) || key[0] === '_'" ><b>{{ key }}:</b> {{ value }}</li>
    </ul>
  </div>
  <div class="text-right">
    <a class="f8 display-block" ng-click="technicalExpand=!technicalExpand">
      <p class="mb-0">
        <span ng-show="technicalExpand"><i class="fa f5 fa-angle-up"></i></span>
        <span ng-show="!technicalExpand"><i class="fa f5 fa-angle-down"></i></span>
      </p>
    </a>
  </div>
</div>
