{% macro theo_player(obj, theo_config, record=None, video_classes='', append_to_element=None, video_source=None, log_media_views_url=None, embed_config=None) -%}
{%- if embed_config.responsive %}
      {%- set video_classes = video_classes + " embed-responsive-background" %}
  {% endif %}
  {% if config.THEOPLAYER_LIBRARY_LOCATION %}
    <script type='text/javascript' src='{{ config.THEOPLAYER_LIBRARY_LOCATION }}/THEOplayer.js'></script>
    <script type="text/javascript">
      // function from https://www.w3schools.com/js/js_cookies.asp
      function getCookie(cname) {
        let name = cname + "=";
        let decodedCookie = decodeURIComponent(document.cookie);
        let ca = decodedCookie.split(";");
        for (let i = 0; i < ca.length; i++) {
          let c = ca[i];
          while (c.charAt(0) == " ") {
            c = c.substring(1);
          }
          if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
          }
        }
        return "";
      }

      var element = document.createElement('div');
      element.className = 'video-js theo-social-available theoplayer-skin theo-seekbar-above-controls {{ video_classes }}';
      if (/(MSIE|Trident\/|Edge\/)/i.test(window.navigator.userAgent)){
        element.className += ' ie-responsive';
      }
      {% if append_to_element %}
        document.getElementById("{{ append_to_element }}").appendChild(element);
      {% else %}
        document.body.appendChild(element);
      {% endif %}
      var player = new THEOplayer.Player(element, {
        libraryLocation : '{{ config.THEOPLAYER_LIBRARY_LOCATION }}',
        license : '{{ config.THEOPLAYER_LICENSE }}',
        ui : {
          {% if theo_config.fluid %}
          fluid: true
          {% endif %}
        },
        isEmbeddable: true,
        {% if embed_config.autoplay %}
        mutedAutoplay: 'all',
        {% endif %}
        initialRendition: 'first'
      });
      // Preload
      player.source = {
        sources: [
          {
            {% if video_source %}
              src: "{{ video_source }}",
              type: 'application/x-mpegURL'
            {% elif obj.m3u8_uri and obj.subformats|length > 0 %}
              src: '{{ obj.m3u8_uri }}',
              type: 'application/x-mpegURL'
            {% else %}
              src: '{{ obj.uri }}',
              type: 'video/mp4'
            {% endif %}
          },
        ],
        {% if not embed_config.subtitlesOff %}
        textTracks: [
          {
            kind: 'metadata',
            src: '{{ obj.thumbnails_uri }}',
            label: 'thumbnails',
            default: true,
          },
          {% for uri, lang in obj.subtitles %}
          {
            kind: 'subtitles',
            src: '{{ uri }}',
            label: '{{ lang }}',
            srclang: '{{ lang }}',
            {% if embed_config.subtitles and embed_config.subtitles == lang %}
            default: true,
            {% endif %}
          },
          {% endfor %}
        ],
        {% endif %}
        poster: '{{ obj.poster_uri }}',
        {% if obj.vr %}
        vr: {
          360: true,
        },
        {% endif %}
        preload: 'auto'
      };
      {% if theo_config.socialSharing %}
        player.social.items = [
           {
             label : '{{ _("Video link") }}',
             src : '{{ url_for("invenio_records_ui.recid", pid_value=record.get("recid", ""), _external=True) }}',
           },
           {
             label : '{{ _("Embed") }}',
             text: '<iframe scrolling="no" src="{{ obj.embed_uri }}" width="560" height="315" frameborder="0" allowfullscreen></iframe>',
           }
       ];
      {% endif %}
      player.addEventListener("durationchange", function() {
        {% if embed_config.start %}
        player.clip.startTime = {{ embed_config.start | int }};
        {% endif %}
        {% if embed_config.end %}
        player.clip.endTime = {{ embed_config.end | int }};
        {% endif %}
      });
      player.autoplay = {{ embed_config.autoplay | default(False) | tojson }};
      player.loop = {{ embed_config.loop | default(False) | tojson }};
      player.controls = {{ (not embed_config.controlsOff) | default(True) | tojson }};
      player.muted = {{ embed_config.muted | default(False) | tojson }};

      {% if theo_config.showTitle and not embed_config.controlsOff %}
        // Append the title div
        var title = document.createElement('div');
        title.id = 'cds-video-overlay-title';
        title.innerHTML = '{{ record.get("title", {}).get("title", "") }}';
        document.body.appendChild(title);
        // Show/Hide the title on play
        player.addEventListener('play', function() {
          // Hide video title
          document.getElementById('cds-video-overlay-title').style.visibility = 'hidden';
        });
        player.addEventListener('pause', function() {
          // Show video title
          document.getElementById('cds-video-overlay-title').style.visibility = 'visible';
        });
      {% endif %}
      // Log view
      {% if log_media_views_url and config.LOG_USER_ACTIONS_ENABLED %}
        (function(player) {
          var url = '{{ log_media_views_url | safe }}';
          function onPlay() {
            var r = new XMLHttpRequest();
            r.open('POST', url, true);
            r.setRequestHeader('Content-Type', 'application/json');
            r.setRequestHeader( "X-CSRFToken", getCookie("csrftoken"));
            var data = JSON.stringify({
                key: obj.key,
                event: 'media-record-view'
            });
            r.onload = function() {
              if (r.status >= 200 && r.status < 400) {
                player.removeEventListener('play', onPlay);
              }
            };
            r.send(data);
          }
          if (url) {
            player.addEventListener('play', onPlay);
          }
        })(player);
      {% endif %}
    </script>
  {% endif %}
{%- endmacro %}
