<div class="text-right">
  <button
    ng-hide='$ctrl.cdsDepositCtrl.isPublished() || $ctrl.cdsDepositCtrl.isPristine()'
    ng-disabled="$ctrl.cdsDepositCtrl.cdsDepositsCtrl.loading"
    class="btn btn-default btn-sm"
    ng-click="$ctrl.actionHandler('SAVE_PARTIAL')">
  Save
  </button>
  <button
    ng-hide='$ctrl.cdsDepositCtrl.isPublished() || $ctrl.cdsDepositCtrl.isDirty()'
    ng-disabled="$ctrl.cdsDepositCtrl.isInvalid() || $ctrl.cdsDepositCtrl.cdsDepositsCtrl.loading || $ctrl.cdsDepositCtrl.depositStatusCurrent !== $ctrl.cdsDepositCtrl.depositStatuses.SUCCESS"
    class="btn btn-primary btn-sm"
    ng-click="$ctrl.actionMultipleHandler(['SAVE_PARTIAL', 'PUBLISH'], '/deposit')">
  Publish
  </button>
  <button
    ng-hide='$ctrl.cdsDepositCtrl.isDraft()'
    ng-disabled="$ctrl.cdsDepositCtrl.isInvalid() || $ctrl.cdsDepositCtrl.cdsDepositsCtrl.loading"
    class="btn btn-default btn-sm"
    ng-click="$ctrl.actionHandler('EDIT')">
  Edit
  </button>
</div>
