<div class="text-left">
  <modal-dialog show="form.infoShown" dialog-title="Delete video" >
    Are you sure you want permanently delete the video?
    <hr class="mt-30 mb-10" />
    <p class="pull-right">
      <button class="btn btn-default" ng-click="$parent.hideModal()">No</button>
      <button class="btn btn-success" ng-click="$ctrl.deleteDeposit(); $parent.hideModal()">Yes</button>
    </p>
  </modal-dialog>
  <!-- Disable the delete button until frames are ready to avoid deleting
  a video before the exctract frames task finishes. This is needed because
  the task is trying to resolve the deposit and it fails as it's already deleted
  -->
  <button
    ng-hide='$ctrl.cdsDepositCtrl.record._deposit.status == "published" || $ctrl.cdsDepositCtrl.record._deposit.pid'
    ng-disabled="!$ctrl.cdsDepositCtrl.framesReady || $ctrl.cdsDepositCtrl.cdsDepositsCtrl.loading"
    class="btn btn-link" ng-click="form.infoShown = true">
    <i class="fa fa-trash-o text-muted"></i>
  </button>
</div>
