<div ng-show="!$ctrl.cdsDepositCtrl.waitingUpload">
  <modal-dialog show="form.infoShown" dialog-title="Delete video" >
    Are you sure you want permanently delete the video?
    <hr class="mt-30 mb-10" />
    <p class="pull-right">
      <button class="btn btn-success" ng-click="$ctrl.deleteVideo(); $parent.hideModal()">Yes</button>
      <button class="btn btn-danger" ng-click="$parent.hideModal()">No</button>
    </p>
  </modal-dialog>
  <modal-dialog show="form.publishInfoShown" dialog-title="Publish video" >
    The video workflow is still processing.<br><br>
    You can publish the video even if not all video subformats have been generated yet.<br>
    Before publishing the video, make sure that at least on subformats has been completed by checking the "Files" tab.<br>
    Completed video subformats will be automatically published.<br><br>
    Do you want publish the video?<br>
  <hr class="mt-30 mb-10" />
    <p class="pull-right">
      <button class="btn btn-default" ng-click="$parent.hideModal()">No</button>
      <button class="btn btn-success" ng-click="$ctrl.actionHandler(['SAVE', 'PUBLISH'], '/deposit'); ;$ctrl.cdsDepositCtrl.changeShowAll(true); $parent.hideModal()">Yes</button>
    </p>
  </modal-dialog>
  <modal-dialog show="$ctrl.showCannotEditVideoDialog" dialog-title="Cannot edit the video" >
    You cannot edit the video if the project is published.<br>
    Please <strong>edit the project first</strong>, and then edit the video.<br>
    <hr class="mt-30 mb-10" />
    <p class="pull-right">
      <button class="btn btn-primary" ng-click="$ctrl.showCannotEditVideoDialog=false">Close</button>
    </p>
  </modal-dialog>
  <div class="text-right">
    <span ng-if="$ctrl.cdsDepositCtrl.cdsDepositsCtrl.loading">
      <i class="fa fa-spinner fa-spin text-muted fa-fw"></i>
    </span>
    <!-- Disable the delete button until frames are ready to avoid deleting
    a video before the exctract frames task finishes. This is needed because
    the task is trying to resolve the deposit and it fails as it's already deleted
    -->
    <button
      ng-hide='$ctrl.cdsDepositCtrl.record._deposit.status == "published" || $ctrl.cdsDepositCtrl.record._deposit.pid'
      ng-disabled="(!$ctrl.cdsDepositCtrl.framesReady || $ctrl.cdsDepositCtrl.cdsDepositsCtrl.loading) && !$ctrl.cdsDepositCtrl.currentMasterFile.size === undefined"
      class="btn btn-default btn-sm" ng-click="form.infoShown = true">
      <i class="fa fa-trash-o"></i>
    </button>
    <button
      ng-hide='$ctrl.cdsDepositCtrl.isPublished() || $ctrl.cdsDepositCtrl.isPristine()'
      ng-disabled="$ctrl.cdsDepositCtrl.cdsDepositsCtrl.loading"
      class="btn btn-sm btn-success"
      ng-click="$ctrl.actionHandler('SAVE_PARTIAL')">
      {{ $ctrl.cdsDepositCtrl.actionLoading ? 'Saving ...' : 'Save' }}
    </button>
    <button
      ng-hide='$ctrl.cdsDepositCtrl.currentDepositStatus !== $ctrl.cdsDepositCtrl.depositStatuses.SUCCESS || $ctrl.cdsDepositCtrl.isPublished() || $ctrl.cdsDepositCtrl.isDirty()'
      ng-disabled="!$ctrl.cdsDepositCtrl.framesReady ||$ctrl.cdsDepositCtrl.cdsDepositsCtrl.loading || $ctrl.cdsDepositCtrl.currentDepositStatus !== $ctrl.cdsDepositCtrl.depositStatuses.SUCCESS"
      class="btn btn-sm btn-primary "
      ng-click="$ctrl.actionHandler(['SAVE', 'PUBLISH']);$ctrl.cdsDepositCtrl.changeShowAll(true)">
      {{ $ctrl.cdsDepositCtrl.actionLoading ? 'Publishing ...' : 'Publish' }}
    </button>
    <button
      ng-hide='$ctrl.cdsDepositCtrl.currentDepositStatus === $ctrl.cdsDepositCtrl.depositStatuses.SUCCESS || $ctrl.cdsDepositCtrl.isPublished() || $ctrl.cdsDepositCtrl.isDirty()'
      ng-disabled="!$ctrl.cdsDepositCtrl.framesReady ||$ctrl.cdsDepositCtrl.cdsDepositsCtrl.loading"
      class="btn btn-sm btn-primary"
      ng-click="form.publishInfoShown = true">
    {{ $ctrl.cdsDepositCtrl.actionLoading ? 'Publishing ...' : 'Publish' }}
    </button>
    <button
        ng-hide='$ctrl.cdsDepositCtrl.isDraft()'
        ng-disabled="$ctrl.cdsDepositCtrl.cdsDepositsCtrl.loading"
        class="btn btn-sm btn-default"
        ng-click="$ctrl.editPublished()">
      {{ $ctrl.cdsDepositCtrl.actionLoading ? 'Editing ...' : 'Edit' }}
    </button>
    <a
        ng-hide="$ctrl.cdsDepositCtrl.record.report_number || !$ctrl.cdsDepositCtrl.cdsDepositsCtrl.showAvcRestrictedFields || !$ctrl.cdsDepositCtrl.cdsDepositsCtrl.master.metadata.category || !$ctrl.cdsDepositCtrl.cdsDepositsCtrl.master.metadata.type"
        class="btn btn-sm btn-warning"
        ng-disabled="$ctrl.cdsDepositCtrl.cdsDepositsCtrl.loading"
        ng-href="/deposit/reportnumbers/assign/{{$ctrl.cdsDepositCtrl.record._deposit.id}}">
      Assign Report Number
    </a>
  </div>
</div>
