<!-- Error alert -->
<div class="alerts" ng-repeat="alert in $ctrl.cdsDepositCtrl.alerts">
  <div ng-if="alert.errors.length > 0 && alert.type == 'danger'">
    <div class="alert alert-danger" uib-alert close="$ctrl.cdsDepositCtrl.alerts.splice($index, 1)">
      <strong>{{ alert.message }}</strong>
      <ul>
        <li ng-repeat="error in alert.errors"><b>{{ error.field }}</b> {{error.message}}</li>
      </ul>
    </div>
  </div>
</div>
<!-- Error alert -->
<!-- Fill metadata suggestion -->
<div ng-show="!$ctrl.cdsDepositCtrl.isPublished()">
  <div ng-show="$ctrl.cdsDepositCtrl.metadataToFill" class="alert alert-warning alert-dismissible cds-deposit-metadata-extraction-alert" role="alert">
    <button type="button" class="close" ng-click="$ctrl.cdsDepositCtrl.metadataToFill=false" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    Extracted metadata can be used to automatically fill part of the form. <button class="btn btn-sm btn-warning pull-right" ng-click="metadataModal = true">See the extracted metadata</button>
  </div>
  <modal-dialog show="metadataModal" dialog-title="Are you sure you want to use the following metadata?" >
    <ul>
      <li ng-repeat="(key,value) in $ctrl.cdsDepositCtrl.getMetadataToDisplay()">
        <strong>{{key}}</strong> {{value}}
      </li>
    </ul>
    <hr class="mt-30 mb-10" />
    <p class="pull-right">
      <button class="btn btn-default" ng-click="$ctrl.cdsDepositCtrl.fillMetadata(false) ; $parent.hideModal()">No</button>
      <button class="btn btn-success" ng-click="$ctrl.cdsDepositCtrl.fillMetadata(true) ; $ctrl.cdsDepositCtrl.metadataToFill=false; $parent.hideModal()">Yes</button>
    </p>
  </modal-dialog>
</div>
<!-- Fill metadata suggestion -->
<!-- Waiting for Upload -->
<div class="row" ng-show="!$ctrl.cdsDepositCtrl.waitingUpload">
  <!-- Brief view -->
  <div ng-show="$ctrl.cdsDepositCtrl.isPublished() && !$ctrl.cdsDepositCtrl.showAll" class="col-sm-12">
    <div class="row">
      <div class="col-sm-3">
        <!-- Video preview -->
        <div class="cds-deposit-box-video-preview embed-responsive embed-responsive-16by9"
         ng-class="{'preview-failed': $ctrl.cdsDepositCtrl.depositStatusCurrent === $ctrl.cdsDepositCtrl.depositStatuses.FAILURE}">
          <div class="cds-deposit-box-video-preview-with-icon" ng-show="!$ctrl.cdsDepositCtrl.previewer">
            <i ng-hide="$ctrl.cdsDepositCtrl.depositStatusCurrent === $ctrl.cdsDepositCtrl.depositStatuses.FAILURE" class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
            <i ng-show="$ctrl.cdsDepositCtrl.depositStatusCurrent === $ctrl.cdsDepositCtrl.depositStatuses.FAILURE" class="fa fa-remove fa-2x"></i>
          </div>
          <iframe scrolling="no"  allowfullscreen="" ng-if="$ctrl.cdsDepositCtrl.previewer !== null" class="embed-responsive-item" ng-src="{{ $ctrl.cdsDepositCtrl.previewer }}"></iframe>
        </div>
        <!-- Video preview -->
      </div>
      <div class="col-sm-9">
        <ul class="list-inline">
          <li><span class="label label-default">{{$ctrl.cdsDepositCtrl.cdsDepositsCtrl.master.metadata.category}}</span></li>
          <li><span class="label label-warning">{{$ctrl.cdsDepositCtrl.cdsDepositsCtrl.master.metadata.type}}</span></li>
          <li><span class="label label-primary">Published</span></li>
        </ul>
        <hr class="my-15" />
        <h4 class="mb-5 mt-0">
          <a ng-href="{{ $ctrl.cdsDepositCtrl.cdsDepositsCtrl.getRecordUrl($ctrl.cdsDepositCtrl.record.recid) }}">
            {{ $ctrl.cdsDepositCtrl.record.title.title || 'No video title'}}
          </a>
        </h4>
        <p ng-bind-html="($ctrl.cdsDepositCtrl.record.description | trustHtml) || 'No description'"></p>
      </div>
    </div>
  </div>
  <!-- Brief View -->
  <!-- Detail View -->
  <div ng-show="!$ctrl.cdsDepositCtrl.isPublished() || ($ctrl.cdsDepositCtrl.isPublished() && $ctrl.cdsDepositCtrl.showAll)" class="col-sm-12">
    <div class="row">
      <div class="col-sm-12">
      <!-- FAILURE -->
      <div ng-show="$ctrl.cdsDepositCtrl.displayFailure()">
        <div class="alert alert-danger" ng-repeat="status in $ctrl.cdsDepositCtrl.stateQueue.FAILURE" ng-if="status != 'file_transcode'">
            <strong>Error: {{ $ctrl.cdsDepositCtrl.stateReporter[status].message | taskRepr }}</strong>
        </div>
      </div>
      <!-- Failed transcodings -->
      <div class="alert alert-danger clearfix" ng-show="$ctrl.cdsDepositCtrl.failedSubformatKeys.length" role="alert">
        <div class="pull-left">
          <b>Failed transcodings:</b>
          <ul>
            <li ng-repeat="key in $ctrl.cdsDepositCtrl.failedSubformatKeys">
              {{ key }}
            </li>
          </ul>
        </div>
        <button type="button" class="btn btn-danger btn-xs pull-right" ng-click="$ctrl.cdsDepositCtrl.restartFailedSubformats($ctrl.cdsDepositCtrl.failedSubformatKeys)">
          <i class="fa fa-undo"></i>
        </button>
      </div>
      <!-- PENDING -->
      <div ng-show="$ctrl.cdsDepositCtrl.displayPending()">
        <div class="progress">
          <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
            Loading ...
          </div>
        </div>
      </div>
      <!-- STARTED -->
      <div ng-show="$ctrl.cdsDepositCtrl.displayStarted()" class="row">
        <div class="progress">
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
              {{ $ctrl.cdsDepositCtrl.stateCurrent | taskRepr }}
            </div>
        </div>
      </div>
      <!-- SUCCESS -->
      <div ng-show="$ctrl.cdsDepositCtrl.displaySuccess()" class="row">
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
            <strong>Tasks successfully completed!</strong>
          </div>
        </div>
      </div>
    </div>
      <div class="col-sm-3">
        <!-- Video preview -->
        <div class="cds-deposit-box-video-preview embed-responsive embed-responsive-16by9"
         ng-class="{'preview-failed': $ctrl.cdsDepositCtrl.depositStatusCurrent === $ctrl.cdsDepositCtrl.depositStatuses.FAILURE}">
          <div class="cds-deposit-box-video-preview-with-icon" ng-show="!$ctrl.cdsDepositCtrl.previewer">
            <i ng-hide="$ctrl.cdsDepositCtrl.depositStatusCurrent === $ctrl.cdsDepositCtrl.depositStatuses.FAILURE" class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
            <i ng-show="$ctrl.cdsDepositCtrl.depositStatusCurrent === $ctrl.cdsDepositCtrl.depositStatuses.FAILURE" class="fa fa-remove fa-2x"></i>
          </div>
          <iframe scrolling="no"  allowfullscreen="" ng-if="$ctrl.cdsDepositCtrl.previewer !== null" class="embed-responsive-item" ng-src="{{ $ctrl.cdsDepositCtrl.previewer }}"></iframe>
        </div>
        <!-- Video preview -->
        <!-- Extra information -->
        <div>
          <!-- Category & Type -->
          <div ng-if="$ctrl.cdsDepositCtrl.cdsDepositsCtrl.master.metadata.category" class="text-muted mt-10">
            <div class="row">
              <div class="col-md-6">
                <p class="mb-0">Category</p>
                <p ng-if="$ctrl.cdsDepositCtrl.cdsDepositsCtrl.master.metadata.category"><span class="label label-default">{{$ctrl.cdsDepositCtrl.cdsDepositsCtrl.master.metadata.category}}</span></p>
              </div>
              <div class="col-md-6">
                <p class="mb-0">Type</p>
                <p ng-if="$ctrl.cdsDepositCtrl.cdsDepositsCtrl.master.metadata.type"><span class="label label-warning">{{$ctrl.cdsDepositCtrl.cdsDepositsCtrl.master.metadata.type}}</span></p>
              </div>
            </div>
            <hr class="my-10" />
          </div>
          <div ng-if="!$ctrl.cdsDepositCtrl.cdsDepositsCtrl.master.metadata.category" class="text-muted mt-10">
            <i class="fa fa-info-circle"></i> For publishing the video please select category from the
            <a du-smooth-scroll ng-href="#{{$ctrl.cdsDepositCtrl.cdsDepositsCtrl.master.metadata._deposit.id}}">Project</a>.
            <hr class="my-10" />
          </div>
          <!-- Category & Type -->
          <!-- Status -->
          <p class="text-muted mb-0">
            <strong>Video status:</strong>
          </p>
          <div ng-show="$ctrl.cdsDepositCtrl.isPublished()">
            <p class="text-muted mb-0"><span class="label label-primary">Published</span></p>
            <hr class="my-10" />
            <p class="mt-10">
              <i class="fa text-muted fa-link"></i>
              <a ng-href="{{ $ctrl.cdsDepositCtrl.cdsDepositsCtrl.getRecordUrl($ctrl.cdsDepositCtrl.record.recid) }}">
                Visit video page
              </a>
            </p>
          </div>
          <div ng-hide="$ctrl.cdsDepositCtrl.isPublished()" class="text-muted">
            <p>The video is <strong>not</strong> published.</p>
            <ul class="list-unstyled text-left my">
              <li ng-repeat="(task, status) in ($ctrl.cdsDepositCtrl.record._cds.state | orderTasks)">
                <small><i class="fa fa-fw {{ status | progressIcon }} {{ status | progressClass }}"></i> {{ task | taskRepr }}</small>
              </li>
            </ul>
          </div>
          <!-- Status -->
          <!-- Inherit button -->
          <div ng-show="$ctrl.cdsDepositCtrl.cdsDepositsCtrl.master.metadata.title && !$ctrl.cdsDepositCtrl.isPublished()">
            <hr class="mt-10 mb-20" />
            <!-- Inherit button if project is filled in -->
            <div class="text-center">
              <button ng-click="forceInherit = true" class="btn btn-sm btn-info">Inherit metadata from project</button>
            </div>
            <modal-dialog show="forceInherit" dialog-title="Inherit metadata from the project" >
              <p class="text-left">Please select if you would like to replace all metadata of this video or inherit only the missing metadata from the project.</p>
              <hr class="mt-30 mb-10" />
              <p class="pull-right">
                <button class="btn btn-default" ng-click="$ctrl.cdsDepositCtrl.inheritMetadata(undefined, false) ; $parent.hideModal()">Only the missing fields</button>
                <button class="btn btn-default" ng-click="$ctrl.cdsDepositCtrl.inheritMetadata(undefined, true) ; $parent.hideModal()">Replace all metadata</button>
              </p>
            </modal-dialog>
            <!-- Inherit button if project is filled in -->
          </div>
          <!-- Inherit button -->
        </div>
      </div>
      <!-- Main form -->
      <div class="col-sm-9">
        <!-- Nav tabs -->
        <ul ng-init="active='metadata'" class="nav nav-tabs" role="tablist">
          <li role="presentation" ng-class="{active: active=='metadata'}">
            <a ng-click="active='metadata'" role="tab" data-toggle="tab">
              Basic Info
            </a>
          </li>
          <li role="presentation" ng-class="{active: active=='files'}">
            <a ng-click="active='files'" role="tab" data-toggle="tab">
              Files
              <small uib-tooltip-html="'Files error.'" ng-show="$ctrl.cdsDepositCtrl.failedSubformatKeys.length || $ctrl.cdsDepositCtrl.stateReporter.file_video_metadata_extraction.status == 'FAILURE' || $ctrl.cdsDepositCtrl.stateReporter.file_video_extract_frames.status == 'FAILURE'"><i class="fa fa-exclamation-circle text-danger"></i></small>
            </a>
          </li>
          <li role="presentation" ng-class="{active: active=='licenses'}">
            <a ng-click="active='licenses'" role="tab" data-toggle="tab">
              Licences
            </a>
          </li>
          <li role="presentation" ng-class="{active: active=='translations'}">
            <a ng-click="active='translations'" role="tab" data-toggle="tab">
              Translations
            </a>
          </li>
          <li role="presentation" ng-class="{active: active=='related_links'}">
            <a ng-click="active='related_links'" role="tab" data-toggle="tab">
              Related links
            </a>
          </li>
          <li role="presentation" ng-class="{active: active=='admin'}" ng-show="$ctrl.cdsDepositCtrl.cdsDepositsCtrl.showAdminInterface">
            <a ng-click="active='admin'" role="tab" data-toggle="tab">
              <i class="fa fa-bug" aria-hidden="true"></i> Admin
            </a>
          </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content cds-tab-content pa-20">
          <div ng-show="active=='metadata'" role="tabpanel" ng-class="{active: active=='metadata'}" class="tab-pane">
            <form
              name="$ctrl.cdsDepositCtrl.depositFormModels[0]"
              class="form"
              sf-schema="$ctrl.cdsDepositCtrl.schema"
              sf-form="$ctrl.form.basic"
              sf-model="$ctrl.cdsDepositCtrl.record"
              sf-options="$ctrl.sfOptions"
            ></form>
            <hr class="my-15" />
            <div class="alert alert-info">
              <h4>Record restrictions</h4>
              <div ng-show="$ctrl.cdsDepositCtrl.cdsDepositsCtrl.master.metadata.category">
                <select
                  ng-model="$ctrl.permissions"
                  ng-change="$ctrl.applyNewAccessRights()"
                  class="form-control"
                  ng-disabled="!$ctrl.cdsDepositCtrl.cdsDepositsCtrl.accessRights.metadata.access.public || $ctrl.cdsDepositCtrl.isPublished()"
                >
                  <option value="public" ng-selected="$ctrl.permissions === 'public'">
                    Public
                  </option>
                  <option value="restricted" ng-selected="$ctrl.permissions === 'restricted'">
                    Restricted
                  </option>
                </select>
                <div ng-init="$ctrl.selectedRestricted=$ctrl.cdsDepositCtrl.record._access.read" class="restricted mt-20"  ng-show="$ctrl.permissions ==='restricted'">
                  <label class="control-label ng-binding">
                    Choose who has access to the record
                  </label>
                  <ui-select
                   multiple
                   theme="bootstrap"
                   ng-disabled="(!$ctrl.cdsDepositCtrl.record.category && $ctrl.cdsDepositCtrl.cdsDepositsCtrl.accessRights.metadata.access.public === 'public') || $ctrl.cdsDepositCtrl.isPublished()"
                   title="Enter personal emails or e-group emails here"
                   on-select="$ctrl.onSelectValue($item, $model, '_access.read');$ctrl.selectedRestricted=$ctrl.cdsDepositCtrl.record._access.read"
                   on-remove="$ctrl.onRemoveValue($item, $model, '_access.read');$ctrl.selectedRestricted=$ctrl.cdsDepositCtrl.record._access.read"
                   ng-model="$ctrl.selectedRestricted"
                  >
                   <ui-select-match
                    ui-lock-choice="($ctrl.cdsDepositCtrl.cdsDepositsCtrl.accessRights.metadata.access.restricted || []).indexOf($item) > -1"
                    placeholder="Enter personal emails or e-group emails here"
                  >
                    {{ $item.email || $item }}
                  </ui-select-match>
                   <ui-select-choices
                    repeat="suggestion.email as suggestion in $ctrl.accessSuggestions"
                    refresh="$ctrl.autocompleteAccess($select.search)"
                    refresh-delay="100"
                   >
                     <div ng-bind-html="suggestion.name | highlight: $select.search"></div>
                     <small ng-if="!suggestion.isUserInput"><{{suggestion.email}}></small>
                   </ui-select-choices>
                   <ui-select-no-choice>
                     <p class="pa-5 mb-0">
                       <span ng-show="$select.search">
                         Not results for "{{$select.search}}"
                       </span>
                       <span ng-show="!$select.search">
                         Start typing a name ...
                       </span>
                     </p>
                   </ui-select-no-choice>
                 </ui-select>
                </div>
              </div>
              <div ng-show="!$ctrl.cdsDepositCtrl.cdsDepositsCtrl.master.metadata.category">
                Please select a category for the project.
              </div>
            </div>
            <!-- Record permissions -->
          </div>
          <div ng-show="active=='files'" role="tabpanel" ng-class="{active: active=='files'}"  class="tab-pane">
            <div ng-transclude></div>
          </div>
          <div ng-show="active=='licenses'" role="tabpanel" ng-class="{active: active=='licenses'}"  class="tab-pane">
            <form
              name="$ctrl.cdsDepositCtrl.depositFormModels[1]"
              class="form"
              sf-schema="$ctrl.cdsDepositCtrl.schema"
              sf-form="$ctrl.form.licenses"
              sf-model="$ctrl.cdsDepositCtrl.record"
              sf-options="$ctrl.sfOptions"
            ></form>
          </div>
          <div ng-show="active=='translations'" role="tabpanel" ng-class="{active: active=='translations'}" class="tab-pane">
            <form
              name="$ctrl.cdsDepositCtrl.depositFormModels[2]"
              class="form"
              sf-schema="$ctrl.cdsDepositCtrl.schema"
              sf-form="$ctrl.form.translations"
              sf-model="$ctrl.cdsDepositCtrl.record"
              sf-options="$ctrl.sfOptions"
            ></form>
            <div class="cds-deposit-box" ng-if="!$ctrl.cdsDepositCtrl.isPublished()">
              <div class="text-muted">
                <h5 class="text-muted"><strong>Tips and suggestions</strong></h5>
                <ul>
                  <li>You can upload subtitle files in the <strong>Files</strong> tab.</li>
                </ul>
              </div>
            </div>
          </div>
          <div ng-show="active=='related_links'" role="tabpanel" ng-class="{active: active=='related_links'}"  class="tab-pane">
            <form
              name="$ctrl.cdsDepositCtrl.depositFormModels[3]"
              class="form"
              sf-schema="$ctrl.cdsDepositCtrl.schema"
              sf-form="$ctrl.form.related_links"
              sf-model="$ctrl.cdsDepositCtrl.record"
              sf-options="$ctrl.sfOptions"
            ></form>
          </div>
          <div ng-show="active=='admin'" role="tabpanel" ng-class="{active: active=='admin'}" class="tab-pane">
            <div class="panel panel-default">
              <div class="panel-heading">Restart tasks <a ng-click="$ctrl.cdsDepositCtrl.triggerRestartAllEvents()" class="btn pull-right btn-xs btn-link"><i class="fa fa-refresh" aria-hidden="true"></i> Restart All</a></div>
              <div class="panel-body">
                <div class="alert alert-warning">
                  Please note restarting tasks might not work as expected due to the webhooks limitations.
                </div>
                <ul class="list-group" ng-repeat="(name, data) in $ctrl.cdsDepositCtrl.webhookAvailableEventTasks">
                  <span ng-switch="name">
                    <span ng-switch-when="file_transcode">
                      <li class="list-group-item">
                        <p><strong>{{name}}</strong></p>
                          <ul class="list-group" ng-repeat="task in data">
                            <li class="list-group-item">
                              {{task.info.payload.preset_quality}} <span class="label label-default">{{ task.status }}</span>
                              <a class="pull-right" ng-click="$ctrl.cdsDepositCtrl.triggerRestartEvent($ctrl.cdsDepositCtrl.webhookEventId, task.id)">
                                <i class="fa fa-refresh" aria-hidden="true"></i>
                              </a>
                            </li>
                          </ul>
                        </li>
                      </span>
                      <span ng-switch-default>
                        <li class="list-group-item">
                          <strong>{{name}}</strong> <span class="label label-default" >{{ data[0].status }}</span>
                          <a class="pull-right" ng-click="$ctrl.cdsDepositCtrl.triggerRestartEvent($ctrl.cdsDepositCtrl.webhookEventId, data[0].id)">
                            <i class="fa fa-refresh" aria-hidden="true"></i>
                          </a>
                        </li>
                      </span>
                  </span>
                </ul>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">Record metadata</div>
              <div class="panel-body">
                <div class="text-center">
                  <a ng-click="adminShowMetadata=!adminShowMetadata"> {{adminShowMetadata? 'Hide': 'Show'}} metadata</a>
                </div>
                <span ng-show="adminShowMetadata"><pre>{{$ctrl.cdsDepositCtrl.record | json}}</pre></span>
              </div>
            </div>
          </div>
          <!-- Extra information -->
        </div>
      </div>
      <!-- Main form -->
    </div>
  </div>
  <!-- Detail View -->
  <div ng-show="$ctrl.cdsDepositCtrl.isPublished()" class="row">
    <div class="col-sm-12 text-center">
      <div class="px-20">
        <hr class="mb-15" />
        <button class="btn btn-sm btn-default" ng-click="$ctrl.cdsDepositCtrl.showAll = !$ctrl.cdsDepositCtrl.showAll">
          {{ $ctrl.cdsDepositCtrl.showAll ? 'Hide details' : 'Show details' }}
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Waiting for Upload -->
<!-- Not waiting for Upload -->
<div class="row" ng-show="$ctrl.cdsDepositCtrl.waitingUpload">
  <div class="col-md-12">
    <div class="progress">
      <div ng-show="$ctrl.cdsDepositCtrl.record._files[0].percentage" class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="{{ $ctrl.cdsDepositCtrl.record._files[0].percentage || 0 }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ $ctrl.cdsDepositCtrl.record._files[0].percentage || 0 }}%">
        <span class="sr-only">{{ $ctrl.cdsDepositCtrl.record._files[0].percentage || 0 }}% Complete</span>
      </div>
      <div ng-hide="$ctrl.cdsDepositCtrl.record._files[0].percentage" class="progress-bar progress-bar-primary progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
        <span class="sr-only">Loading ...</span>
        Loading ...
      </div>
    </div>
    <p ng-show="$ctrl.cdsDepositCtrl.record._files[0].percentage" class="text-muted text-center f5">
      {{ $ctrl.cdsDepositCtrl.record._files[0].percentage || 0 }}%
    </p>
  </div>
</div>
<!-- Not waiting for Upload -->
