# This file is part of CDS.
# Copyright (C) 2015 CERN.
#
# CDS is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# CDS is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with CDS. If not, see <http://www.gnu.org/licenses/>.
#
# In applying this licence, CERN does not waive the privileges and immunities
# granted to it by virtue of its status as an Intergovernmental Organization
# or submit itself to any jurisdiction.

## Pinned base requirements

urllib3<2.0,>=1.8

# CDS forked Invenio packages
-e git+git://github.com/CERNDocumentServer/invenio-ext.git@cdslabs#egg=invenio-ext
-e git+git://github.com/CERNDocumentServer/dojson.git@cdslabs#egg=dojson

# Invenio packages
-e git+git://github.com/inveniosoftware/invenio-base.git@6867e97e9e757b8913c10123622be991ea6365d5#egg=invenio-base
-e git+git://github.com/inveniosoftware/invenio-celery.git@47f42c8210758cb8c5c46ff806c564f922180c8e#egg=invenio-celery
-e git+git://github.com/inveniosoftware/invenio-records.git@e05701766fb55fbacfa7a42e2223db17f422d216#egg=invenio-records
-e git+git://github.com/inveniosoftware/invenio-access.git@fe06a949531995f42d4d310539dccdb4461f5fc2#egg=invenio-access
-e git+git://github.com/inveniosoftware/invenio-accounts.git@2f314736dcf6d20627302d366736f7bdd4e7b97d#egg=invenio-accounts
-e git+git://github.com/inveniosoftware/invenio-collections.git@56018300b685b68ae61218c63294fa02a337de75#egg=invenio-collections
-e git+git://github.com/inveniosoftware/invenio-pidstore.git@1fc290dfcaa5b4cae4d1a24a5132d28b8c0484e9#egg=invenio-pidstore
-e git+git://github.com/inveniosoftware/invenio-oauthclient.git@d5762480fedffb21c10989b6013a67384e9bb632#egg=invenio-oauthclient
-e git+git://github.com/inveniosoftware/invenio-search.git@84be273a859faf8401c714bd2aecfc810863e9fe#egg=invenio-search
