<div class="row" ng-init="vm.preview=false; vm.activePreview=false; files=[]">
  <div class="col-md-12">
    <div class="cds-record-detail">
      <div class="cds-record-detail-top">
      </div>
      <div class="cds-record-detail-bottom">
        <!-- Title -->
        <h3 class="cds-record-detail-title">{{ record.title_statement.title || 'No title :(' }}</h3>
        <hr>
        <!-- Metadata fields -->
        <dl class="dl-horizontal">
          <!-- Authors -->
          <dt ng-show="record.main_entry_personal_name || record.added_entry_personal_name.length > 0">
            Authors:
          </dt>
          <dd ng-show="record.main_entry_personal_name || record.added_entry_personal_name.length > 0">
            <span ng-show="record.main_entry_personal_name">
              <a ng-href="/search?authors={{record.main_entry_personal_name.personal_name}}"> {{ record.main_entry_personal_name.personal_name }}</a>
            </span>
            <span ng-repeat="user in record.added_entry_personal_name">
              , <a ng-href="/search?authors={{record.main_entry_personal_name.personal_name}}">
                {{ user.personal_name}}
              </a>
            </span>
          </dd>
          <!-- Imprint -->
          <dt ng-show="record.imprint.length > 0">
            Imprint:
          </dt>
          <dd ng-show="record.imprint.length > 0">
            <span ng-show="record.imprint.length > 0" ng-repeat="imprint_info in record.imprint">
              {{imprint_info.complete_date}}, {{imprint_info.name_of_publication}}, {{imprint_info.place_of_publication}}
            </span>
          </dd>
          <!-- DOI -->
          <dt ng-show="record.other_standard_identifier.length > 0">
            Identifier:
          </dt>
          <dd ng-show="record.other_standard_identifier.length > 0">
            <ul class="list-unstyled" ng-show="record.other_standard_identifier.length > 1">
              <li ng-repeat="identifier in record.other_standard_identifier">
                <!-- If the identifier is from DOI, display it as a link ... -->
                <a class="get-badge" ng-if="identifier.source_of_number_or_code == 'DOI'" ng-href="http://dx.doi.org/{{identifier.standard_number_or_code}}" target="_blank">
                  <img ng-src="/badge/doi/{{identifier.standard_number_or_code}}.svg" alt="{{ identifier.standard_number_or_code }}">
                </a>
                <!-- ... otherwise, display just a span -->
                <span ng-if="identifier.source_of_number_or_code != 'DOI'">
                  {{identifier.standard_number_or_code}}
                </span>
              </li>
            </ul>
            <span ng-show="record.other_standard_identifier.length === 1">
              <!-- If the link is from DOI, display it as a link ... -->
              <a ng-if="record.other_standard_identifier[0].source_of_number_or_code == 'DOI'" ng-href="http://dx.doi.org/{{identifier.standard_number_or_code}}">{{record.other_standard_identifier[0].standard_number_or_code}}</a>
              <!-- ... otherwise, display just a span -->
              <span ng-if="record.other_standard_identifier[0].source_of_number_or_code != 'DOI'">
                {{record.other_standard_identifier[0].standard_number_or_code}}
              </span>
            </span>
          </dd>
          <!-- Subjects -->
          <dt ng-show="record.subject_added_entry_topical_term.length > 0">
            Subject:
          </dt>
          <dd ng-show="record.subject_added_entry_topical_term.length > 0">
            <ul class="list-unstyled" ng-show="record.subject_added_entry_topical_term.length > 1">
              <li ng-repeat="subject in record.subject_added_entry_topical_term">
                {{subject.topical_term_or_geographic_name_entry_element}}
              </li>
            </ul>
            <span ng-show="record.subject_added_entry_topical_term.length === 1">
              {{record.subject_added_entry_topical_term[0].topical_term_or_geographic_name_entry_element}}
            </span>
          </dd>
          <!-- Collections -->
          <dt ng-show="record.collections.length > 0">
            Collections:
          </dt>
          <dd ng-show="record.collections.length > 0">
            <ul class="list-unstyled" ng-show="record.collections.length > 1">
              <li ng-repeat="collection in record.collections">
                {{collection.primary}}
              </li>
            </ul>
            <span ng-show="record.collections.length === 1">
              {{record.collections[0].primary}}
            </span>
          </dd>
          <dt ng-show="record.summary.length === 1">
            Summary:
          </dt>
          <dd ng-show="record.summary.length === 1">
            {{ record.summary[0].summary }}
          </dd>
        </dl>
        <!-- Summary -->
        <hr />
        <div id="files" ng-init="showFiles=true" ng-show="record.files.length > 0" class="panel panel-info cds-record-detail-files">
          <div class="panel-heading">
            <div class="btn-group pull-right">
              <a class="btn btn-default btn-xs" ng-click="showFiles=!showFiles">
                <i class="fa" ng-class="{'fa-caret-square-o-up': showFiles, 'fa-caret-square-o-down': !showFiles}"></i>
              </a>
            </div>
            <h3 class="panel-title">Files</h3>
          </div>
          <ul ng-show="showFiles" class="list-group" ng-repeat="file in record.files track by $index">
            <li class="list-group-item" ng-class="{'active': file.filename === vm.activePreview}">
              <a
                 ng-init="vm.preloadPreview=vm.iframeSrc('/record/' + record.control_number + '/preview/' + file.filename)"
                 class="cds-record-detail-files-filename"
                 ng-click="vm.preview=vm.iframeSrc('/record/' + record.control_number + '/preview/' + file.filename);vm.activePreview=file.filename">
                {{ file.filename }}
              </a>
              <span class="badge cds-record-detail-preview-close" ng-show="file.filename === vm.activePreview">
                <a ng-click="vm.preview=false;vm.activePreview=false"><i class="fa fa-times"></i></a>
              </span>
            </li>
          </ul>
          <div ng-show="vm.preview && showFiles" class="panel-body cds-record-detail-preview">
            <iframe ng-show="vm.preview && showFiles" src="{{ (vm.preview === false) ? vm.preloadPreview : vm.preview }}" width="100%" height="100%" style="min-height:900px" frameBorder="0"></iframe>
          </div>
        </div>
        <div id="export" ng-init="showSource=false" class="panel panel-default cds-record-detail-source">
          <div class="panel-heading">
            <div class="btn-group pull-right">
              <a class="btn btn-default btn-xs" ng-click="showSource=!showSource">
                <i class="fa" ng-class="{'fa-caret-square-o-up': showSource, 'fa-caret-square-o-down': !showSource}"></i>
              </a>
            </div>
            <h3 class="panel-title">Source</h3>
          </div>
          <div class="panel-body" ng-show="showSource">
            <pre>
              {{ record | json }}
            </pre>
          </div>
        </div>
      </div> <!-- detail-bottom -->
    </div> <!-- record-dertail -->
  </div> <!-- col-md-12 -->
</div>  <!-- row -->
