<div
  class="form-group schema-form-array clearfix {{form.htmlClass}}"
  sf-array="form"
  ng-model="$$value$$"
  ng-model-options="form.ngModelOptions">
  <label
    class="control-label"
    for="{{ form.key.slice(-1)[0] }}"
    ng-class="{'sr-only': !showTitle(), 'field-required': form.required}"
    ng-show="showTitle()">
    <i ng-if="form.fa_cls" class="fa fa-fw {{ form.fa_cls }}"></i>&nbsp;{{ form.title }}
  </label>
  <!-- with array sorting -->
  <div ng-if="form.sortOptions">
    <ul class="list-unstyled" ng-model="modelArray" ui-sortable="evalExpr(form.sortOptions)" >
      <li
        class="{{ form.fieldHtmlClass }} list-group-item"
        ng-class="{'deposit-inline': form.inline, 'bg-warn': form.firstItemMessage && $first}"
        ng-repeat="item in modelArray track by (item.id || item.uuid || $index)">
        <div
          ng-hide="(form.firstItemMessage && $first)"
          class="close-container pull-right"
          style="padding-bottom: 20px"
          ng-class="{'clear-form': !form.inline}">
          <i ng-hide="modelArray.length <= (form.options.minLength == null ? 1 : form.options.minLength)" class="sort-handle fa fa-sort fa-fw" ng-if="form.sortOptions.disabled === false"></i>
          <button
            class="close"
            type="button"
            ng-hide="evalExpr(form.readonly) || form.remove === null || modelArray.length <= (form.options.minLength == null ? 1 : form.options.minLength) "
            ng-click="deleteFromArray($index)"
            ng-disabled="modelArray.length <= (form.options.minLength === null ? 1 : form.options.minLength)">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="pb-20" ng-if="::form.firstItemMessage && $first">
          <span class="label label-default">{{::form.firstItemMessage}}</span>
        </div>
        <div class="clearfix"></div>
        <sf-decorator
          form="copyWithIndex($index)"
          ng-init="arrayIndex = $index"></sf-decorator>
      </li>
    </ul>
  </div>
  <!-- without array sorting (aka missing ``ui-sortable``)-->
  <div ng-if="!form.sortOptions">
    <ul class="list-unstyled" ng-model="modelArray">
      <li
        class="{{ form.fieldHtmlClass }} list-group-item"
        ng-class="{'deposit-inline': form.inline, 'bg-warn': form.firstItemMessage && $first}"
        ng-repeat="item in modelArray track by (item.id || item.uuid || $index)">
        <div
          ng-hide="(form.firstItemMessage && $first)"
          class="close-container pull-right"
          style="padding-bottom: 20px"
          ng-class="{'clear-form': !form.inline}">
          <i ng-hide="modelArray.length <= (form.options.minLength == null ? 1 : form.options.minLength)" class="sort-handle fa fa-sort fa-fw" ng-if="form.sortOptions.disabled === false"></i>
          <button
            class="close"
            type="button"
            ng-hide="evalExpr(form.readonly) || form.remove === null || modelArray.length <= (form.options.minLength == null ? 1 : form.options.minLength) "
            ng-click="deleteFromArray($index)"
            ng-disabled="modelArray.length <= (form.options.minLength === null ? 1 : form.options.minLength)">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="pb-20" ng-if="::form.firstItemMessage && $first">
          <span class="label label-default">{{::form.firstItemMessage}}</span>
        </div>
        <div class="clearfix"></div>
        <sf-decorator
          form="copyWithIndex($index)"
          ng-init="arrayIndex = $index"></sf-decorator>
      </li>
    </ul>
  </div>

    <div ng-model="modelArray">
      <div
        class="help-block"
        ng-show="(hasError() && errorMessage(schemaError())) || form.description"
        ng-bind-html="(hasError() && errorMessage(schemaError())) || form.description"></div>
      <a
        class="add-button {{ form.style.add }}"
        ng-hide="evalExpr(form.readonly) || form.add === null"
        ng-click="appendToArray()"
        ng-disabled="form.schema.maxItems <= modelArray.length">
        <i class="fa fa-plus"></i>&nbsp;{{ form.add || 'Add'}}
      </a>
    </div>
</div>
