<fieldset ng-controller="dynamicSelectController" class="form-group {{form.htmlClass}}"
     ng-disabled="evalExpr(form.readonly)"
     ng-class="{'has-error': hasError(), 'has-success': hasSuccess()}">
     <label
       class="{{ form.labelHtmlClass }}"
       for="{{ form.key.slice(-1)[0] }}"
       ng-if="!form.notitle"
       ng-class="{'sr-only': !showTitle(), 'field-required': form.required}">
       <i ng-if="form.fa_cls" ng-class="'fa fa-fw ' + form.fa_cls"></i>&nbsp;{{ form.title }}
     </label>
    <div class="form-group {{form.fieldHtmlClass}}" ng-init="populateTitleMap(form)">
        <button
          ng-if="(form.options.multiple == 'true') || (form.options.multiple == true)"
          type="button"
          class="btn btn-default"
          ng-model="$$value$$"
          sf-changed="form"
          schema-validate="form"
          data-placeholder="{{form.placeholder || form.schema.placeholder || ('placeholders.select')}}"
          data-html="1"
          data-multiple="1"
          data-max-length="{{form.options.inlineMaxLength}}"
          data-placement="{{form.options.placement || 'bottom-left'}}"
          data-max-length-html="{{form.options.inlineMaxLengthHtml}}" ng-disabled="form.disabled"
          bs-options="item.value as item.name for item in form.titleMap | selectFilter:this:$$value$$:&quot;$$value$$&quot;"
          bs-select>
        </button>
        <button
          ng-if="!((form.options.multiple == 'true') || (form.options.multiple == true))"
          type="button"
          class="btn btn-default"
          ng-model="$$value$$"
          sf-changed="form"
          schema-validate="form"
          data-placeholder="{{form.placeholder || form.schema.placeholder || ('placeholders.select')}}"
          data-html="1"
          ng-disabled="form.disabled"
          data-placement="{{form.options.placement || 'bottom-left'}}"
          bs-options="item.value as item.name for item in form.titleMap | selectFilter:this:$$value$$:&quot;$$value$$&quot;"
          bs-select>
        </button>
        <span class="help-block">{{ (hasError() && errorMessage(schemaError())) || form.description}} </span>
    </div>
</fieldset>
