<div
    ng-init="internalModelTags=$$value$$"
    ng-controller="invenioDynamicSelectController"
    ng-class="{
        'has-error': hasError(),
        'has-feedback': form.feedback !== false
    }"
    class="form-group">
    <label class="control-label" ng-show="showTitle()">{{form.title}}</label>
    <ui-select
        ng-if="form.options.tagging == true"
        multiple
        tagging="form.formatTokenTags"
        tagging-tokens=","
        tagging-label="(custom 'new')"
        ng-model="internalModelTags"
        sortable="form.options.sortable||false"
        theme="bootstrap"
        ng-disabled="evalExpr(form.readonly)"
        on-select="$$value$$.push($item)"
        on-remove="$$value$$.splice($$value$$.indexOf($item), 1)"
        class="{{form.options.uiClass}}">
        <ui-select-match
            placeholder="{{
                form.placeholder ||
                form.schema.placeholder ||
                ('placeholders.select' | translate)
            }}">
            {{$item.name}}
        </ui-select-match>
        <ui-select-choices
            refresh="populateTitleMap(form, $select.search)"
            refresh-delay="form.options.refreshDelay"
            group-by="form.options.groupBy"
            repeat="item in form.titleMap | propsFilter: {name: $select.search}">
            <div ng-bind-html="item.name | highlight: $select.search"></div>
        </ui-select-choices>
    </ui-select>
    <span
        ng-if="form.feedback !== false"
        ng-class="evalInScope(form.feedback) || {
            'glyphicon': true,
            'glyphicon-ok': hasSuccess(),
            'glyphicon-remove': hasError()
        }"
        class="form-control-feedback">
    </span>
    <div class="help-block" sf-message="form.description"></div>
</div>
