@box-padding: 10px;

.box {
    height: 340px;
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 2em;
    position: relative;
    border: 2px solid #eee;

    h3 {
        margin-top: 0;
        padding-top: 10px;
        font-size: 24px;
        font-weight: 400;
    }

    h4 {
        font-size: 18px;
    }

    header {
        h2 {
            font-size: 12px;
            float: right;
            background: #eee;
            color: #555;
            margin: 0;
            padding: 5px @box-padding;

            a {
                color: #555;
            }
        }
    }

    ul {
        list-style: disc;
        margin-left: 1.5em;
        padding: 0;
    }

    .box-body {
        margin-bottom: 30px; /* for the footer */

        .subtitle {
            font-weight: bold;
        }

    }

    footer {
        text-align: right;
        position: absolute;
        bottom: 0;
        width: 100%;

        p {
            padding-right: @box-padding;
        }
    }

    .wrap {
        padding-left: @box-padding;
        padding-right: @box-padding;
    }

    .box-admin {
        position:absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,.25);

        .box-admin-buttons {
            width: 60%;
            margin-top: 20%;
            .center-block();
        }
    }
}

.box-picture {
    .box-body, footer {
        background: rgba(255,255,255,.90);
    }
}

.box-video {
    position: relative;
    background-size: 100% auto;
    background-position: 50% 50%;
    background-repeat: no-repeat;

    a {
        @box-video-a-size: 42px;
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        font-size: @box-video-a-size;
        width: @box-video-a-size;
        height: @box-video-a-size;
        margin: (@box-video-a-size / -2) 0 0 (@box-video-a-size / -2);
    }
}

.prototype-admin {
    background: #f6f6f6;
    border-bottom: 1px solid #eee;
    padding: 1em 0;
    margin-bottom: 2em;
    position: relative;

    &:before {
        position: absolute;
        top: -14px;
        right: 0;
        content: "";
        display: block;
        width: 0px;
        height: 0px;
        border-style: solid;
        border-color: transparent;
        border-bottom-color: #f6f6f6;
        border-width: 0 14px 14px;
    }

    .control-label-help {
        font-size: 12px;
    }

    ul {
        list-style: none;
        margin-left: 0;
        padding-left: 0;
    }
}

.hamburger {
    font-size: 24px;

    a {
        color: #999
    }
}

.plus {
    text-align: center;
    margin: 2em 0;

    a {
        display: inline-block;
        border: 2px solid #eee;
        border-radius: 30px;
        font-size: 24px;
        padding: 6px 8px 4px 10px;
        color: #999;
    }
}
