{% extends "invenio_search_ui/search.html" %}

{%- block page_header %}
  {% include "cds_home/header.html" %}
{%- endblock page_header %}

{%- block page_footer %}
  {% include "cds_home/footer.html" %}
{%- endblock page_footer %}

{%- block search_range %}
    <invenio-search-range
    options='{{ config.SEARCH_UI_JSTEMPLATE_RANGE_OPTIONS | tojson }}'
    template="{{ url_for('static', filename='templates/cds_search_ui/range.html') }}">
    </invenio-search-range>
{%- endblock search_range %}

{%- block page_body %}
  <div class="bg-n flex-item mt--20 py-20">
    <div class="container flex-item search-page cds-search-page">
      <div class="row">
        <div class="col-sm-3">
          {%- block search_facets %}
            <invenio-search-facets
                template="{{ url_for('static', filename='templates/cds_search_ui/facets.html') }}">
            </invenio-search-facets>
          {%- endblock search_facets %}
        </div>
        {%- block search_body %}
          <div class="col-sm-9">
            {%- block search_header %}
              <div class="row">
                {%- block search_count %}
                  <div class="col-sm-12 text-center t-w pb-20">
                    <invenio-search-count
                        template="{{ url_for('static', filename=config.SEARCH_UI_JSTEMPLATE_COUNT) }}">
                    </invenio-search-count>
                  </div>
                {%- endblock search_count %}
                {%- block search_pagination_top %}
                {%- endblock search_pagination_top %}
              </div>
            {%- endblock search_header %}
            {%- block search_error %}
              <invenio-search-error
                  template="{{ url_for('static', filename=config.SEARCH_UI_JSTEMPLATE_ERROR) }}"
                  message="{{ _('Search failed.') }}">
              </invenio-search-error>
            {%- endblock search_error %}
            {%- block search_loading %}
              <div class="text-center t-w">
                <invenio-search-loading
                    template="{{ url_for('static', filename=config.SEARCH_UI_JSTEMPLATE_LOADING) }}"
                    message="{{ _('Loading...') }}">
                </invenio-search-loading>
              </div>
            {%- endblock search_loading %}
            {%- block search_results %}
              <invenio-search-results
                  template="{{ url_for('static', filename=config.SEARCH_UI_VIDEO_SMALL) }}">
              </invenio-search-results>
            {%- endblock search_results %}
            {%- block search_pagination_bottom %}
              <div class="text-center pt-30 pb-30">
                <invenio-search-pagination
                    template="{{ url_for('static', filename='templates/cds_search_ui/pagination.html') }}">
                </invenio-search-pagination>
              </div>
            {%- endblock search_pagination_bottom %}
          </div>
        {%- endblock search_body %}

      </div>
    </div>
  </div>
{%- endblock page_body -%}
