{% extends "cds_theme/page.html" %}
{%- set suggest_app = false -%}
{%- set title_prefix = _('Search') -%}
{%- block css %}
    {{ super() }}
    {% assets "invenio_search_ui_search_css" %}<link href="{{ ASSET_URL }}" rel="stylesheet">{% endassets %}
{%- endblock css %}

{%- block javascript %}
  {{ super() }}
  {% assets "cds_search_ui_js" %}<script src="{{ ASSET_URL }}"></script>{% endassets %}
{%- endblock javascript %}

{%- block body_inner %}
<div id="invenio-search">
  <invenio-search
   search-endpoint="{{ config.SEARCH_UI_SEARCH_API }}"
   search-extra-params='{% if config.SEARCH_UI_SEARCH_EXTRA_PARAMS %}{{config.SEARCH_UI_SEARCH_EXTRA_PARAMS|tojson}}{% endif %}'
   search-hidden-params='{% if search_hidden_params %}{{search_hidden_params|tojson}}{% endif %}'
   search-headers='{"Accept": "{{ config.SEARCH_UI_SEARCH_MIMETYPE|default('application/json')}}"}'
  >
  {{super()}}
  </invenio-search>
</div>
{%- endblock body_inner %}

{%- block page_header %}
  {% include "cds_search_ui/header.html" %}
{%- endblock page_header %}

{%- block page_body %}
  <div class="flex-item py-20">
    <div class="{{container_class}} flex-item search-page cds-search-page">
      <div class="row">
        <div class="col-md-3">
          {%- block search_facets %}
             <invenio-search-range
                template="{{ url_for('static', filename='templates/cds_search_ui/range.html') }}"
                options='{"histogramId": "#year_hist",
                "selectionId": "#year_select",
                "name": "years",
                "barColor": "#ccc",
                "showBarOnEmpty": true,
                "selectColor": "#0c63aa"}'
             ></invenio-search-range>
            <invenio-search-facets
                template="{{ url_for('static', filename='templates/cds_search_ui/facets.html') }}">
            </invenio-search-facets>
          {%- endblock search_facets %}
        </div>
        {%- block search_body %}
          <div class="col-md-9">
            {%- block search_header %}
              <div class="row">
                {%- block search_count %}
                  <div class="col-md-12 text-center pb-20 cds-search-header">
                    <invenio-search-count
                        template="{{ url_for('static', filename='templates/cds_search_ui/count.html') }}">
                    </invenio-search-count>

                    {%- set sort_options = config.get('RECORDS_REST_SORT_OPTIONS', {}).get(config.SEARCH_UI_SEARCH_INDEX) %}
                    {%- if sort_options %}
                      <invenio-search-select-box
                        sort-key="sort"
                        available-options='{{ sort_options|format_sortoptions|safe }}'
                        template="{{ url_for('static', filename='templates/cds_search_ui/selectbox.html') }}">
                      </invenio-search-select-box>
                    {%- endif %}
                  </div>
                {%- endblock search_count %}
                {%- block search_pagination_top %}{%- endblock search_pagination_top %}
              </div>
            {%- endblock search_header %}
            {%- block search_error %}
              <invenio-search-error
                  template="{{ url_for('static', filename=config.SEARCH_UI_JSTEMPLATE_ERROR) }}"
                  message="{{ _('Search failed.') }}">
              </invenio-search-error>
            {%- endblock search_error %}
            {%- block search_loading %}
              <div class="text-center t-w">
                <invenio-search-loading
                    template="{{ url_for('static', filename=config.SEARCH_UI_JSTEMPLATE_LOADING) }}"
                    message="{{ _('Loading...') }}">
                </invenio-search-loading>
              </div>
            {%- endblock search_loading %}
            {%- block search_results %}
              <invenio-search-results
                  template="{{ url_for('static', filename=config.SEARCH_UI_VIDEO_SMALL) }}">
              </invenio-search-results>
            {%- endblock search_results %}
            {%- block search_pagination_bottom %}
              <div class="text-center pt-30 pb-30">
                <invenio-search-pagination
                    template="{{ url_for('static', filename='templates/cds_search_ui/pagination.html') }}">
                </invenio-search-pagination>
              </div>
            {%- endblock search_pagination_bottom %}
          </div>
        {%- endblock search_body %}

      </div>
    </div>
  </div>
{%- endblock page_body -%}
