<div ng-init="record=record.metadata.metadata" class="cds-detail-video bg-n mt--20 pb-20">
  <!-- Metadata Section -->
  <div class="container">
    <div class="row">
      <!-- Left Column -->
      <div class="col-md-12">
        <!-- Section -->
        <div class="cds-detail cds-detail-video cds-div-shadow bg-w pt-10 px-20 pb-20 mt-20">
          <!-- DOI and report number -->
          <div class="text-right">
            <ul class="list-inline">
              <li ng-if="record.metadata.doi">
                <ng-include src="'/static/templates/cds_records/doi.html'"></ng-include>
              </li>
              <li class="pr-0" ng-if="record.metadata.report_number.report_number">
                <ng-include src="'/static/templates/cds_records/report_number.html'"></ng-include>
              </li>
            </ul>
          </div>
          <!-- /DOI and report number -->
          <!-- Title -->
          <div class="cds-detail-title cds-detail-video-title">
            <hgroup>
              <h1 class="mb-0 f4 fw-n t-b">{{ ::record.metadata.title.title }}</h1>
              <h2 class="cds-detail-secondary-title text-muted mt-0 f4 fw-n"><em>{{ ::record.metadata.title.title }}</em></h2>
            </hgroup>
          </div>
          <!-- /Title -->
          <!-- Description -->
          <hr />
          <div class="cds-detail-description cds-detail-video-description t-b">
            <p class="mb-20"><strong>Uploaded on {{ ::record.metadata.date }}</strong></p>
            <p class="f7 mb-20">{{ ::record.metadata.description.value || 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur turpis ipsum, accumsan et augue eget, placerat tempor nulla. Pellentesque quis elit at tortor accumsan efficitur vitae ut eros. Maecenas eu feugiat diam, ac dignissim leo.' }}</p>
          </div>
          <!-- /Description -->
          <!-- More -->
          <div class="cds-detail-more cds-detail-video-more">
            <div class="row">
              <div class="col-md-12 text-center">
                <h2 class="mb-20 fw-b f4">Videos</h2>
              </div>
              <div class="col-md-4" ng-repeat="video in record.metadata.videos">
                <a class="cds-video-title l-b" target="_self" ng-href="/record/{{ ::video.recid }}">
                  <img
                    class="img-responsive"
                    ng-src="{{ video | iiif:gif:[330,190] }}"
                    error-src="//unsplash.it/1024/576>?random&blur"
                    ng-init="gif=false"
                    ng-mouseover="gif=true"
                    ng-mouseleave="gif=false"
                  />
                  <span ng-hide="!video.duration" class="cds-video-duration">{{ video.duration }}</span>
                  <p>
                    {{ ::video.title.title || 'No title :(' | limitTo: 120}} {{ video.title.title.length > 120 ? ' [...]' : '' }}
                  </p>
                </a>
              </div>
            </div>
          </div>
          <!-- /More -->
          <div class="cds-detail-more cds-detail-video-more">
            <ng-include src="'/static/templates/cds_records/keywords.html'"></ng-include>
          </div>
        </div>
      </div>
        <!-- /Section -->
      <!-- /Left Column -->
    </div>
  </div>
  <!-- /Metadata Section -->
</div>
