{%- extends config.RECORDS_UI_BASE_TEMPLATE %}

{%- block javascript %}
  {{ super() }}
  {% assets "cds_record_js" %}<script src="{{ ASSET_URL }}"></script>{% endassets %}
{%- endblock javascript %}

{%- block page_body %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <img data-toggle="modal" data-target="[data-modal='{{ record.doi }}']"
          src="{{ url_for('invenio_formatter_badges.badge', title='DOI', value=record.doi, ext='svg') }}" alt="{{ record.doi }}">
        </img>
        <div id="cds-record">
          <cds-record-view
            template="{{ url_for('static', filename='templates/cds_records/detail.default.html') }}"
            record='{{ record | tojson }}'
          ></cds-record-view>
        </div>
      </div>
    </div>
  </div>
{%- endblock page_body %}
