{%- extends config.RECORDS_UI_BASE_TEMPLATE %}
{# Please keep the double `striptags`: it is needed to clean up encoded html entities contained in a few migrated old records #}

{%- set title_prefix = record.title.title|striptags|striptags -%}
{%- set description = description|default('')|striptags|striptags -%}

{%- set type = 'video' if 'video-v1.0.0' in record['$schema'] else 'project'%}
{%- block head_meta %}
    {{ super() }}
    <meta property="og:url" content="{{ url_for('invenio_records_ui.recid', pid_value=record['recid'], _external=True) }}" />
    <meta property="og:type" content="video" />
    <meta property="og:title" content="{{ record['title']['title'] }}" />
    <meta property="og:description" content="{{ record['description'] }}" />
    {%- if type == 'video' %}
      <meta property="og:image" content="{{ url_for('invenio_records_ui.recid_files',
                                                    pid_value=pid.pid_value,
                                                    filename='frame-1.jpg', _external=True) }}" />
    {% endif %}
    {%- if type == 'project' %}
      <meta name="robots" content="noindex" />
    {% endif %}
{%- endblock head_meta %}
{%- block javascript %}
  {{ super() }}
  {% assets "cds_record_js" %}<script src="{{ ASSET_URL }}"></script>{% endassets %}
  <script type="text/javascript">
    {% if config.LOG_USER_ACTIONS_ENABLED %}
    {% set user_action_page_view_url = (config.LOG_USER_ACTIONS_ENDPOINTS['page_view'] or '')
                                        .format(base_url=config.LOG_USER_ACTIONS_ENDPOINTS['base_url'] or '',
                                                recid=record['recid'],
                                                userid=current_user.id or 0)|safe %}
    {% else %}
    {% set user_action_page_view_url = '' %}
    {% endif %}
    userActionsLogger.pageView('{{ user_action_page_view_url }}');
  </script>
{%- endblock javascript %}

{%- block page_header %}
  {% include "cds_home/header.html" %}
{%- endblock page_header %}

{%- block page_footer %}
  {% include "cds_home/footer.html" %}
{%- endblock page_footer %}

{%- block page_body %}
  {% set refer_query = "AND -recid:%s" % record['recid'] %}
  {% if record['keywords'] %}
    {% set keywords = [] %}
    {% for keyword in record['keywords'] %}
      {% set keywords = keywords.append(keyword['name']) %}
    {% endfor %}
    {% set refer_query = '( keywords.name:"%s" ) %s ' % ('" OR keywords.name:"'.join(keywords), refer_query) %}
  {% else %}
    {% set refer_query = "category:%s %s" % (record['category'], refer_query) %}
  {% endif %}
  <div id="cds-record">
    {% if config.LOG_USER_ACTIONS_ENABLED %}
    {% set user_action_media_download_url = (config.LOG_USER_ACTIONS_ENDPOINTS['media_download'] or '')
                                    .replace('{base_url}', config.LOG_USER_ACTIONS_ENDPOINTS['base_url'] or '')|safe %}
    {% else %}
    {% set user_action_media_download_url = '' %}
    {% endif %}
    <cds-record-view
        template="{{ url_for('static', filename='templates/cds_records/%s/detail.html' | format(type)) }}"
        record='/api/record/{{record.recid}}'
        record-views='/api/stats/{{record.recid}}/views'
        media-download-event-url="{{ user_action_media_download_url }}"
    ></cds-record-view>
  </div>
  <!-- Recent videos -->
  <div id="cds-recent-videos" class="bg-w pt-20 pb-20">
    <div class="{{container_class}}">
      <div class="row">
        <div class="col-md-12">
          <!-- Title -->
          <div class="cds-title-section pt-10 mb-20 l-b">
            <h2 class="cds-title-section-decoration bt bw-2 mb-5 pt-10">RELATED</h2>
          </div>
          <!-- Title -->
        </div>
      </div>
      <!-- List group -->
      <invenio-search
        disable-url-handler="true"
        search-endpoint='{{ config.CDS_RECORDS_RELATED_QUERY % refer_query }}'
      >
        <div class="text-center">
          <invenio-search-loading
              template="{{ url_for('static', filename=config.SEARCH_UI_JSTEMPLATE_LOADING) }}"
              message="">
          </invenio-search-loading>
        </div>
        <invenio-search-results
          template="{{ url_for('static', filename='templates/cds/video/medium.html') }}">
        </invenio-search-results>
      </invenio-search>
    </div>
  </div>
  <!-- Recent videos -->
{%- endblock page_body %}
