{%- extends config.RECORDS_UI_BASE_TEMPLATE %}
{%- set title = '%s | %s'|format(record.title.title, config.THEME_SITENAME) or 'CDS' -%}
{%- block javascript %}
  {{ super() }}
  {% assets "cds_record_js" %}<script src="{{ ASSET_URL }}"></script>{% endassets %}
{%- endblock javascript %}

{%- block page_header %}
  {% include "cds_home/header.html" %}
{%- endblock page_header %}

{%- block page_footer %}
  {% include "cds_home/footer.html" %}
{%- endblock page_footer %}

{%- block page_body %}
  {% set type = 'video' if record._project_id else 'project'%}
  <div id="cds-record">
    <cds-record-view
        template="{{ url_for('static', filename='templates/cds_records/%s/detail.html' | format(type)) }}"
        record='/api/record/{{record.recid}}'
    ></cds-record-view>
  </div>
  <!-- Recent videos -->
  <div id="cds-recent-videos" class="bg-w pt-20 pb-20">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <!-- Title -->
          <div class="cds-title-section pt-10 mb-20 l-b">
            <h2 class="cds-title-section-decoration bt bw-2 mb-5 pt-10">RELATED</h2>
          </div>
          <!-- Title -->
        </div>
      </div>
      <!-- List group -->
      <invenio-search
        disable-url-handler="true"
        search-endpoint='{{ config.FRONTPAGE_RECENT_QUERY }}'
      >
        <div class="text-center">
          <invenio-search-loading
              template="{{ url_for('static', filename=config.SEARCH_UI_JSTEMPLATE_LOADING) }}"
              message="">
          </invenio-search-loading>
        </div>
        <invenio-search-results
          template="{{ url_for('static', filename='templates/cds/video/medium.html') }}">
        </invenio-search-results>
      </invenio-search>
    </div>
  </div>
  <!-- Recent videos -->
{%- endblock page_body %}
