{%- extends 'cds_theme/page.html' %}

{%- set title_prefix = '%s · %s'|format(_('Stats'), record.title.title|striptags|striptags) -%}

{%- block css %}
  {{ super() }}
  {% assets "cds_record_stats_css" %}
  <link href="{{ ASSET_URL }}" rel="stylesheet">
  {% endassets %}
{%- endblock css %}

{%- block javascript %}
  {{ super() }}
  {% assets "cds_record_stats_js" %}
    <script src="{{ ASSET_URL }}"></script>
    <script>
      $(document).ready(function() {
        getStats({{ record | tojson }})
      });
    </script>
  {% endassets %}

{%- endblock javascript %}

{%- block page_header %}
  {% include "cds_home/header.html" %}
{%- endblock page_header %}

{%- block page_footer %}
  {% include "cds_home/footer.html" %}
{%- endblock page_footer %}

{%- block page_body %}
<div class='container'>
  <div class='row'>
    <div class='col-sm-12'>
      <h2>Page Views</h2>
      <div class='pageviews'>
        <i id="pageviews-loading-spinner" class="fa fa-spinner fa-spin"></i>
        <p id="pageviews-error-message" style="display: none;">There was a problem while rendering pageviews data. We are investigating the issue.</p>
      </div>
      <h2>Downloads</h2>
      <div class='downloads'>
        <i id="downloads-loading-spinner" class="fa fa-spinner fa-spin"></i>
        <p id="downloads-error-message" style="display: none;">There was a problem while rendering downloads data. We are investigating the issue.</p>
      </div>
    </div>
  </div>
</div>
{%- endblock page_body %}
