<div ng-if="!$ctrl.initialized">
  <div class="cds-deposit-box cds-deposit-box-upload-intro">
    <ul class="nav nav-pills cds-pills-center" ng-init="active_uploader='local'">
      <li ng-class="{active: active_uploader=='local'}"><a ng-click="active_uploader='local'" role="tab" data-toggle="tab">Upload local files</a></li>
      <li ng-class="{active: active_uploader=='remote'}"><a ng-click="active_uploader='remote'" role="tab" data-toggle="tab">Upload by URL</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane" ng-class="{active: active_uploader=='local'}">
        <div
             ngf-drag-over-class="'dragover'"
             ngf-drop=""
             ngf-change="$ctrl.addFiles($newFiles)"
             ngf-select=""
             ngf-max-size="20GB"
             ngf-multiple="true"
        >
          <div class="cds-deposit-box-upload-wrapper text-center">
            <p class="cds-deposit-box-upload-icon">
              <i class="fa fa-3x fa-cloud-upload" aria-hidden="true"></i>
            </p>
            <div class="cds-deposit-box-upload-content">
              <div class="cds-deposit-box-upload-title">
                <h4>Select files to upload</h4>
              </div>
              <p class="cds-deposit-box-upload-description"> Or drag and drop video files</p>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-pane" ng-class="{active: active_uploader=='remote'}">
        <cds-remote-uploader
            template="/static/templates/cds_deposit/remote_upload.html"
            dropbox-enabled="true"
            dropbox-selector=".dropbox-upload"
            dropbox-app-key="{{ dropboxAppKey }}"
            remote-master-receiver="/api/hooks/receivers/avc/events/"
            remote-children-receiver="/api/hooks/receivers/downloader/events/"
        >
          <div class="dropbox-upload"></div>
        </cds-remote-uploader>
      </div>
    </div>
  </div>
</div>

<div ng-if="$ctrl.initialized">
  <div class="alerts" ng-repeat="alert in $ctrl.alerts">
    <div class="alert alert-{{alert.type}} alert-dismissible" role="alert">
      <button ng-click="$ctrl.dismissAlert(this)" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      {{ alert.message }}
    </div>
  </div>
  <div class="col-md-12">
    <cds-deposit
      master="true"
      links="$ctrl.master.links"
      update-record-after-success="true"
      schema="{{ $ctrl.masterSchema }}"
      record="$ctrl.master.metadata"
      deposit-form-model="$ctrl.depositForms[0]"
    >
    <cds-actions
      template="/static/templates/cds_deposit/types/project/actions.html"
    >
    </cds-actions>
    <cds-form
      template="/static/templates/cds_deposit/types/project/form.html"
      form="{{$ctrl.masterForm}}"
    >
    </cds-form>
    <hr />
    <!-- ADD children -->
    <div id="{{child.metadata._deposit.id}}" ng-repeat="child in $ctrl.children track by $index">
      <div class="cds-deposit-box">
        <cds-deposit
          index="$index + 1"
          update-record-after-success="true"
          update-record-in-background="10000"
          links="child.links"
          schema="{{ $ctrl.childrenSchema }}"
          record="child.metadata"
          deposit-form-model="$ctrl.depositForms[$index + 1]"
        >
          <cds-form
            template="/static/templates/cds_deposit/types/video/form.html"
            form="{{$ctrl.childrenForm}}"
          >
          <cds-uploader
            files="child.metadata._files"
            template="/static/templates/cds_deposit/types/common/uploader.html"
          >
            <cds-remote-uploader
                template="/static/templates/cds_deposit/remote_upload.html"
                dropbox-enabled="true"
                dropbox-selector=".dropbox-upload"
                dropbox-app-key="{{ dropboxAppKey }}"
                remote-master-receiver="/api/hooks/receivers/avc/events/"
                remote-children-receiver="/api/hooks/receivers/downloader/events/"
            >
              <div class="dropbox-upload"></div>
            </cds-remote-uploader>
          </cds-uploader>
          </cds-form>
        </cds-deposit>
      </div>
    </div>
    <!-- /ADD children -->
    <cds-uploader
      files="$ctrl.master.metadata._files"
      template="/static/templates/cds_deposit/types/common/uploader.html"
    >
      <cds-remote-uploader
          template="/static/templates/cds_deposit/remote_upload.html"
          dropbox-enabled="true"
          dropbox-selector=".dropbox-upload"
          dropbox-app-key="{{ dropboxAppKey }}"
          remote-master-receiver="/api/hooks/receivers/avc/events/"
          remote-children-receiver="/api/hooks/receivers/downloader/events/"
      >
        <div class="dropbox-upload"></div>
      </cds-remote-uploader>
    </cds-uploader>

    </cds-deposit>
  </div>
</div>
