<div class="text-center form-inline">
  <textarea
      msd-elastic
      placeholder="Input the URLs to upload here, i.e. https://example.com/video.mov, one per line"
      cols="60"
      rows="5"
      class="form-control cds-urls-textarea"
      type="text"
      ng-model="uploadUrl"
  ></textarea>
  <div style="padding-bottom: 10px;">
    <a class="btn btn-default"
            ng-click="startUrlUploads(uploadUrl); uploadUrl='';">Upload URLs
    </a>
  </div>
  <p class="text-center py-20 f5 text-muted">
    <strong>— OR —</strong>
  </p>
  <div ng-show="dropboxError" ng-bind="dropboxError"></div>
  <div class="dropbox-upload"></div>
</div>
