{# -*- coding: utf-8 -*- -#}

<footer class="cds-footer cds-content-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <div class="cds-footer-brand">
          <img src="{{ url_for('static', filename='img/cern-logo-large.png') }}" />
            <ul class="list-inline">
              <li><a href="/about">About</a></li>
              <li><a href="/contact">Contact</a></li>
              <li><a href="/faq">FAQ</a></li>
              <li><a href="/feedback">Feedback</a></li>
              <li><a href="/help">Help</a></li>
              <li><a href="/terms">Terms of Use</a></li>
            </ul>
          <p><strong>CERN Document Server</strong></p>
          </div>
          <small>{{ _('powered by') }} <a href="//invenio-software.org/" target="_blank">Invenio</a></small>
        </div>
      </div>
    </div>
  </div>
</footer>
