<header>
  {%- block navbar %}
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="{{ container_class if container_class else 'container-fluid' }}">
      {%- block navbar_header %}
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#cds-navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">{{_('Toggle navigation')}}</span>
          <span class="bg-w icon-bar"></span>
          <span class="bg-w icon-bar"></span>
          <span class="bg-w icon-bar"></span>
        </button>
        {%- block brand %}
          {%- if config.THEME_LOGO %}
            <a href="/"><img class="navbar-brand" src="{{ url_for('static', filename=config.THEME_LOGO)}}" alt="{{_(config.THEME_SITENAME)}}" /></a>
          {%- else %}
            <a class="cds-navbar-brand navbar-brand l-w" href="/"><b>CDS</b> <small class="l-w">videos</small></a>
          {%- endif %}
        {%- endblock %}
      </div>
      {%- endblock navbar_header %}
      {%- block navbar_inner %}
      <div id="cds-navbar" class="cds-navbar-collapse navbar-collapse collapse">
        {%- block navbar_nav %}
          {%- if config['THEME_SEARCHBAR'] %}
            <div class="cds-navbar-form-wrapper">
              {%- block navbar_search %}
                {%- if suggest_app %}
                  <form id='cdsSearchFormSuggest'
                        ng-app="cdsSuggest"
                        ng-submit="updateHistory()"
                        ng-controller="mainCtrl"
                        ng-class="{'cds-active-search': focused || dirty.value}"
                        class="cds-navbar-form navbar-form"
                        action="{{ config.THEME_SEARCH_ENDPOINT }}"
                        role="search"
                  >
                {%- else %}
                  <form class="cds-navbar-form navbar-form" action="{{ config.THEME_SEARCH_ENDPOINT }}" role="search">
                {%- endif %}
                  <div mass-autocomplete class="form-group">
                    <input
                      autocomplete="off"
                      ng-model="dirty.value"
                      mass-autocomplete-item="autocomplete_options"
                      id="cds-navbar-form-input"
                      type="text" class="form-control" name="q" placeholder="{{ _('Search CDS') }}">
                  </div>
                  <button type="submit" class="hidden-xs cds-navbar-form-icon">
                    <i class="t-w fa fa-search"></i>
                  </button>
                  <button type="submit" class="visible-xs btn btn-default cds-navbar-form-icon-xs">
                    <i class="fa fa-search">Search</i>
                  </button>
                </form>
              {%- endblock navbar_search %}
            </div>
          {%- endif %}
        {%- endblock navbar_nav %}
        {%- block navbar_right %}
          <ul class="cds-navbar-nav nav navbar-nav">
            {%- for item in current_menu.submenu('main').children|sort(attribute='order') if item.visible recursive %}
            {%- if item.children %}
            <li class="dropdown{{ ' active' if item.active else ''}}">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="{{ item.url }}">{{ item.text|safe }} <b class="caret"></b></a>
              <ul class="dropdown-menu">{{ loop(item.children|sort(attribute='order')) }}</ul>
            </li>
            {%- else %}
              <li{{ ' class="active"'|safe if item.active and loop.depth == 1 else '' }}><a href="{{ item.url }}">{{ item.text|safe }}</a></li>
            {%- endif %}
            {%- endfor %}
            {%- if config['ACCOUNTS'] %}
              {%- if not current_user.is_authenticated %}
                {%- if config.DEBUG -%}
                  <li><a href=" {{url_for_security('login', next=request.path)}}"><strong><i class="fa fa-sign-in"></i> {{_('Log in')}}</strong></a></li>
                {%- else %}
                  <li>
                    <a href="{{url_for('invenio_oauthclient.login', remote_app='cern', next=request.path)}}">
                       <strong><i class="fa fa-sign-in"></i> {{_('Log in')}}</strong>
                    </a>
                  </li>
                {%- endif %}
              {%- else %}
                {%- if config['USERPROFILES'] %}
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">  <i class="fa fa-user"></i> {{current_user.email}}<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      {%- for item in current_menu.submenu('settings').children if item.visible %}
                      <li><a href="{{ item.url }}">{{ item.text|safe }}</a></li>
                      {%- endfor %}
                      <li class="divider"></li>
                      <li><a href="{{url_for_security('logout')}}"><i class="fa fa-sign-out"></i> {{_('Log out')}}</a></li>
                    </ul>
                  </li>
                  {%- else %}
                  <li><a href=" {{url_for_security('logout')}}" class="btn btn-default"><i class="fa fa-sign-out"></i> {{_('Log out')}}</a></li>
                {%- endif %}
              {%- endif %}
            {%- endif %}
          </ul>
        {%- endblock navbar_right %}
      </div>
      {%- endblock navbar_inner %}
    </div>
  </nav>
  {%- endblock navbar %}
  <div id="announcement" class="alert hidden text-center"></div>
</header>
{%- block flashmessages %}
  {%- from "invenio_theme/macros/messages.html" import flashed_messages with context -%}
  {{ flashed_messages() }}
{%- endblock %}
{%- block breadcrumbs %}
  {%- include "invenio_theme/breadcrumbs.html" %}
{%- endblock breadcrumbs %}
