{# -*- coding: utf-8 -*- -#}
{%- extends "cds_theme/page.html" %}

{%- block page_body -%}
  <div class="container">
    <div class="row">
      <div class="col-md-12" ng-controller="homeController">
        {%- raw %}
          <div class="jumbotron">
            <center>
              <h1>{{hello}}</h1>
              <p class="lead">Hello from angular {{time | date:'HH:mm:ss yyyy-MM-dd'}}.</p>
              <a ng-click="updateTime()" class="btn btn-lg btn-primary">Update time</a>
            </center>
          </div>
        {% endraw %}
      </div>
    </div>
  </div>
{%- endblock page_body -%}

{%- block javascript %}
  {{ super() }}
  {% assets "cds_theme_home_js" %}<script src="{{ ASSET_URL }}"></script>{% endassets %}
{% endblock javascript %}
