{%- set title_prefix = '%s · '|format(title_prefix) if title_prefix else '' -%}
{%- set title = '%s%s'|format(title_prefix, config.THEME_SITENAME) -%}
{%- set description = description if description else config.THEME_SITEDESCRIPTION -%}
{%- set suggest_app = true -%}
{%- set body_css_classes = ['flex-container', 'bootstrap-padding-top'] -%}
{%- set container_class = 'container-fluid' -%}

<!DOCTYPE html>
<html{% if html_css_classes %} class="{{ html_css_classes|join(' ') }}"{% endif %} lang="{{ current_i18n.locale.language|safe }}" dir="{{ current_i18n.locale.text_direction }}">
  <head>
    {%- block head %}
    {%- block head_meta %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ description }}" />
    {%- if keywords %}<meta name="keywords" content="{{ keywords }}" />{% endif %}
    {%- if config.get('THEME_GOOGLE_SITE_VERIFICATION', None) %}
      {%- for google_id in config.THEME_GOOGLE_SITE_VERIFICATION %}
    <meta name="google-site-verification" content="{{google_id}}"/>
      {%- endfor %}
    {%- endif %}
    {%- endblock head_meta %}
    {%- block head_title %}
    <title>{{title}}</title>
    {%- endblock head_title %}
    {%- block head_links %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}"/>
    {%- if keywords %}<link rel="canonical" href="{{ canonical_url }}"/>{% endif %}
    {%- block head_links_langs %}
      {%- if alternate_urls %}
        {%- for alt_ln, alternate_url in alternate_urls.items() %}
    <link rel="alternate" hreflang="{{ alt_ln }}" href="{{ alternate_url }}"/>
        {%- endfor %}
      {%- endif %}
    {%- endblock %}
    {%- block head_apple_icons %}
    {%- for size in [144, 114, 72, 57] %}
      {%- set icon_name = 'apple-touch-icon-%d-precomposed.png' | format(size) %}
    <link rel="apple-touch-icon-precomposed" sizes="{{ size }}x{{ size }}" href="{{ url_for('static', filename=icon_name) }}"/>
    {%- endfor %}
    {%- endblock head_apple_icons %}
    {%- endblock head_links %}
    {%- block header %}{% endblock header %}
    {%- block css %}
      {% include "cds_theme/styles.html" %}
    {%- endblock css %}
    {%- endblock head %}
  </head>
  <body{% if body_css_classes %} class="{{ body_css_classes|join(' ') }}"{% endif %}{% if g.ln %} lang="{{ g.ln.split('_', 1)[0]|safe }}"{% if rtl_direction %} {{ rtl_direction|safe }}{% endif %}{% endif %} itemscope itemtype="http://schema.org/WebPage" data-spy="scroll" data-target=".scrollspy-target">
    {%- block body %}
      {%- block browserupgrade %}
      <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->
      {%- endblock browserupgrade %}
      {%- block body_inner %}
        {%- block page_header %}
          {% include "cds_theme/header.html" %}
        {% endblock page_header %}
        <div class="flex-item">
          {%- block page_body %}
            {% include "invenio_theme/body.html" %}
          {%- endblock page_body %}
        </div>
        {%- block page_footer %}
          {% include "cds_theme/footer.html" %}
        {%- endblock page_footer %}
      {%- endblock body_inner %}
      {%- block javascript %}
        {% include "cds_theme/scripts.html" %}
      {% endblock javascript %}
      {%- block trackingcode %}
        {% include config.THEME_TRACKINGCODE_TEMPLATE %}
      {%- endblock %}
    {%- endblock body %}
  </body>
</html>
