{%- if config.THEME_PIWIK_ID %}
<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['setDomains', ['*.videos.cern.ch']]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//piwikui.web.cern.ch/piwikui/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '{{config.THEME_PIWIK_ID}}']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//piwikui.web.cern.ch/piwikui/piwik.php?idsite={{config.THEME_PIWIK_ID}}" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
{%- endif %}
