<div class="personal-box-body-edit" data-show="select">
    <form id="personal-box-admin-form" data-id="{{id}}">
        <div class="form-group">
            <label>Select a template</label>
            <select class="form-control" name="template">
                <option value="record_list">Search</option>
                <option value="issue">Issue</option>
            </select>
        </div>
    </form>
    <div class="personal-box-body-edit-footer">
        <div class="text-right">
            <a href="#" class="btn btn-small btn-block btn-success personal-box-ui-select">Continue</a>
            <a href="#" class="btn btn-small btn-block btn-danger personal-box-ui-delete">Delete</a>
        </div>
    </div>
</div>
