{%- extends "cds_theme/page.html" %}
{%- set title_prefix = record.get('title', {}).get('title', 'Project') -%}
{%- set container_class = '{{container_class}} cds-max-fluid-width' -%}

{%- block css %}
    {{ super() }}
    <style>
      body {
        background-color: #eee;
      }
    </style>
{%- endblock css %}

{%- block javascript %}
  <script type="text/javascript">
  // CKEDITOR static location
  window.CKEDITOR_BASEPATH = '{{url_for("static", filename="ckeditor/", _external=True)}}';
  </script>
  {{ super() }}
  {{ webpack["cds_deposit_app.js"] }}
  {#  <script type="text/javascript">
    angular.element(document).ready(function() {
      angular.bootstrap(
        document.getElementById('cds-deposit'), ['cds', 'cdsDeposit', 'ngModal']
      );
    }, {strictDi: true});
  $(document).ready(function() {
    $('.dropdown-toggle').dropdown();
  });
  </script> #}
{%- endblock javascript %}

{%- block page_header %}
  {%- set suggest_app = false -%}
  {% include "cds_home/header.html" %}
{%- endblock page_header %}

{%- block page_body %}
<div id="cds-deposit" class="flex-item">
  <cds-deposits
      {% if pid %}
        project-links='{{pid|tolinksjs(record, dep_type=record_type)|tojson}}'
      {% else %}
        project-init="/api/deposits/project/"
      {% endif %}
      video-extensions=".mp4,.mkv,.mov,.m4v"
      project-schema="{{ url_for('invenio_jsonschemas.get_schema', schema_path=config.DEPOSIT_JSONSCHEMA.project, _external=True) }}"
      project-form="{{ url_for('static', filename=config.DEPOSIT_DEFAULT_SCHEMAFORM) }}"
      video-init="/api/deposits/video/"
      video-schema="{{ url_for('invenio_jsonschemas.get_schema', schema_path=config.DEPOSIT_JSONSCHEMA.video, _external=True) }}"
      video-form="{{ url_for('static', filename='json/cds_deposit/forms/video.json') }}"
      template="{{ url_for('static', filename='templates/cds_deposit/deposits.html') }}"
      show-avc-restricted-fields="{{ record | check_avc_permissions | lower }}"
      is-super-admin="{{ record | check_if_super_admin | lower }}"
      current-user-email="'{{ current_user_email | lower}}'"
  >
  </cds-deposits>
  <input type="hidden" id="max-n-videos-per-project" value="{{ config.DEPOSIT_PROJECT_MAX_N_VIDEOS }}" />
</div>
{%- endblock %}
