{%- extends "cds_theme/page.html" %}
{%- set title = '%s | %s'|format(_('Deposits'), config.THEME_SITENAME) or 'CDS' -%}

{%- block css %}
  {{ super() }}
  {% assets "invenio_search_ui_search_css" %}<link href="{{ ASSET_URL }}" rel="stylesheet">{% endassets %}
{%- endblock css %}

{%- block javascript %}
  {{ super() }}
  {% assets "cds_theme_js", "cds_search_ui_js", "cds_deposit_js" %}
    <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
  <script>
    angular.element(document).ready(function() {
      angular.bootstrap(
        document.getElementById("cds-deposit-index"), [
          'cds',
          'angular-loading-bar',
          'ngDialog',
          'invenioSearch',
          'cdsDeposit',
        ]
      );
    });
    $(document).ready(function() {
      $('.dropdown-toggle').dropdown();
    })
  </script>
{%- endblock javascript %}

{%- block body_inner %}
<div id="cds-deposit-index">
  <invenio-search
   search-endpoint="{{ config.DEPOSIT_SEARCH_API }}"
   search-headers='{"Accept": "{{ config.DEPOSIT_SEARCH_MIMETYPE|default('application/json')}}"}'
  >
  {{super()}}
  </invenio-search>
</div>
{%- endblock body_inner %}

{%- block page_header %}
  {%- set suggest_app = false -%}
  {% include "cds_home/header.html" %}
{%- endblock page_header %}

{%- block page_body %}
<div class="container search-page flex-item">
  {%- block search_body %}
    <div class="row">
      <div class="col-md-offset-3 col-md-9">
        <div class="row">
          {%- block search_bar %}
          <div class="col-md-8">
            <invenio-search-bar
            template="{{ url_for('static', filename='templates/invenio_deposit/searchbar.html') }}"
            placeholder="{{ _('Search uploads...') }}">
            </invenio-search-bar>
          </div>
          {%- endblock search_bar %}
          {%- block search_loading %}
          <div class="col-md-2">
            <invenio-search-loading
              template="{{ url_for('static', filename=config.SEARCH_UI_JSTEMPLATE_LOADING) }}"
              message="{{ _('Loading...') }}">
            </invenio-search-loading>
          </div>
          {%- endblock search_loading %}
          {%- block new_upload %}
          <div class="col-md-2">
            <a class="btn btn-success btn-block" href="{{ url_for('invenio_deposit_ui.new', type='project') }}">
              <i class="pull-left glyphicon glyphicon-upload"></i> {{ _('New Upload') }}
            </a>
          </div>
          {%- endblock new_upload %}
        </div>
      </div>
    </div>
    {%- block search_error %}
    <invenio-search-error
      template="{{ url_for('static', filename='templates/invenio_search_ui/error.html') }}"
      message="{{ _('Search failed.') }}">
    </invenio-search-error>
    {%- endblock search_error %}
    <div class="row">
      <div class="col-md-3">
          {%- block search_facets %}
          <invenio-search-facets
          template="{{ url_for('static', filename='templates/cds_deposit/search/facets.html') }}">
          </invenio-search-facets>
          {%- endblock search_facets %}
      </div><!-- ./col-md-3 -->
      <div class="col-md-9">
        <div class="panel panel-default deposit-panel">
          <div class="panel-heading">
            {%- block search_sort %}
            <div class="form-inline text-right">
              <div class="form-group">
              {%- set sort_options = config.get('DEPOSIT_REST_SORT_OPTIONS', {}).get(config.DEPOSIT_UI_SEARCH_INDEX) %}
              {%- if sort_options %}
                <label>{{ _('Sort') }}</label>
                {%- block search_sort_select scoped %}
                <invenio-search-select-box
                  sort-key="sort"
                  available-options='{{ sort_options|format_sortoptions|safe }}'
                  template="{{ url_for('static', filename='templates/invenio_deposit/selectbox.html') }}"
                  default-sort-by="{{ config.get('RECORDS_REST_DEFAULT_SORT', {}).get(config.get('DEPOSIT_UI_SEARCH_INDEX'), {}).get('noquery') }}"
                  >
                </invenio-search-select-box>
                {%- endblock search_sort_select %}
                {%- block search_sort_order scoped %}
                <invenio-search-sort-order
                sort-key="sort"
                template="{{ url_for('static', filename='templates/invenio_deposit/togglebutton.html') }}"
                >
                </invenio-search-sort-order>
                {%- endblock search_sort_order %}
              {%- endif %}
              </div>
            </div>
            {%- endblock search_sort %}
          </div>
          {%- block search_results %}
          <invenio-search-results
            class="list-group"
            template="{{ url_for('static', filename='templates/cds_deposit/search/results.html') }}">
          </invenio-search-results>
          {%- endblock search_results %}
        </div>
        {%- block search_pagination_bottom %}
        <div align="center">
          <invenio-search-pagination
            template="{{ url_for('static', filename='templates/invenio_search_ui/pagination.html') }}">
          </invenio-search-pagination>
        </div>
        {%- endblock search_pagination_bottom %}
      </div> <!-- ./col-md-9 -->
    </div> <!-- ./row -->
  {%- endblock search_body %}
</div>
{%- endblock page_body -%}
