{%- extends "cds_theme/page.html" %}
{%- set title_prefix = _('Deposits') -%}
{%- block css %}
  {{ super() }}
  {% assets "invenio_search_ui_search_css" %}<link href="{{ ASSET_URL }}" rel="stylesheet">{% endassets %}
{%- endblock css %}

{%- block javascript %}
  {{ super() }}
  {% assets "cds_theme_js", "cds_search_ui_js", "cds_deposit_js" %}
    <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
  <script>
    angular.element(document).ready(function() {
      angular.bootstrap(
        document.getElementById("cds-deposit-index"), [
          'cds',
          'angular-loading-bar',
          'ngDialog',
          'invenioSearch',
          'cdsDeposit',
        ]
      );
    });
    $(document).ready(function() {
      $('.dropdown-toggle').dropdown();
    })
  </script>
{%- endblock javascript %}

{%- block body_inner %}
<div id="cds-deposit-index">
  <invenio-search
   search-endpoint="{{ config.DEPOSIT_SEARCH_API }}"
   search-headers='{"Accept": "{{ config.DEPOSIT_SEARCH_MIMETYPE|default('application/json')}}"}'
  >
  {{super()}}
  </invenio-search>
</div>
{%- endblock body_inner %}

{%- block page_header %}
  {%- set suggest_app = false -%}
  {% include "cds_home/header.html" %}
{%- endblock page_header %}

{%- block page_body %}
<div class="{{container_class}} search-page flex-item py-20">
    <div class="row">
      <div class="col-md-offset-3 col-md-9">
        <div class="row">
          <div class="col-md-5">
            <invenio-search-bar
            template="{{ url_for('static', filename='templates/invenio_deposit/searchbar.html') }}"
            placeholder="{{ _('Search uploads...') }}">
            </invenio-search-bar>

          </div>
          <div class="col-md-2">
            <invenio-search-loading
              template="{{ url_for('static', filename=config.SEARCH_UI_JSTEMPLATE_LOADING) }}"
              message="{{ _('Loading...') }}">
            </invenio-search-loading>
          </div>
          <div class="col-md-5 text-right">
             {%- set sort_options = config.get('DEPOSIT_REST_SORT_OPTIONS', {}).get(config.DEPOSIT_UI_SEARCH_INDEX) %}
             <invenio-search-select-box
               sort-key="sort"
               available-options='{{ sort_options|format_sortoptions|safe }}'
               template="{{ url_for('static', filename='templates/cds_deposit/selectbox.html') }}"
               >
             </invenio-search-select-box>
            <a class="btn btn-success" href="{{ url_for('invenio_deposit_ui.new', type='project') }}">
              <i class="glyphicon glyphicon-upload"></i> {{ _('New Upload') }}
            </a>
          </div>
        </div>
      </div>
      <invenio-search-error
        template="{{ url_for('static', filename=config.SEARCH_UI_JSTEMPLATE_ERROR) }}"
        message="{{ _('Search failed.') }}">
      </invenio-search-error>
    </div> <!-- ./row -->
    <div class="row">
      <div class="col-md-3">
          <invenio-search-facets
          template="{{ url_for('static', filename='templates/cds_deposit/search/facets.html') }}">
          </invenio-search-facets>
      </div><!-- ./col-md-3 -->
      <div class="col-md-9">
          <div id="cds-deposit-ie-warning" class="hidden">
            <div class="alert alert-danger" role="alert">IE browser below <b>Edge</b> is not supported! Please use the latest version of Safari, Chrome or Firefox.</div>
          </div>
          <invenio-search-results
            class="list-group"
            template="{{ url_for('static', filename='templates/cds_deposit/search/results.html') }}">
          </invenio-search-results>
        <div class="text-center my-20">
          <invenio-search-pagination
            template="{{ url_for('static', filename='templates/invenio_search_ui/pagination.html') }}">
          </invenio-search-pagination>
        </div>
      </div> <!-- ./col-md-9 -->
    </div> <!-- ./row -->
</div>
{%- endblock page_body -%}
