{{!
  This file is part of Invenio.
  Copyright (C) 2014 CERN.

  Invenio is free software; you can redistribute it and/or
  modify it under the terms of the GNU General Public License as
  published by the Free Software Foundation; either version 2 of the
  License, or (at your option) any later version.

  Invenio is distributed in the hope that it will be useful, but
  WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
  General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with Invenio; if not, write to the Free Software Foundation, Inc.,
  59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.
}}
<div id="{{modal_id}}" class="cds-modal modal fade" role="dialog" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{ title }}</h4>
      </div>
      <div class="modal-body">
        <ul id="pages">
          {{#list_items}}
            <li>
              {{{item}}}
            </li>
          {{/list_items}}
        </ul>
        {{#paginate}}
          <button id="cds-modal-expand-btn" type="button" class="load-more-btn btn btn-primary"><i class="glyphicon glyphicon-plus"/></button>
        {{/paginate}}
      </div>
      <div class="modal-footer">
        <button id="cds-modal-close-btn" type="button" class="btn btn-default" data-dismiss="modal">{{ close }}</button>
      </div>
    </div>
  </div>
</div>
