<div class="row">
  <div class="col-sm-4" ng-repeat="record in vm.invenioSearchResults.hits.hits track by $index">
    <a ng-mouseover="show=true"
       ng-mouseleave="show=false"
       class="cds-transition cds-video-title l-w"
       target="_self"
       ng-href="/record/{{ ::record.id }}"
       ng-class="{'cds-video-title-with-play-button': !gif}">
      <img
        class="img-responsive"
        ng-src="{{ record | iiif:gif:[400,220] }}"
        err-src="//unsplash.it/1024/576>?random&blur"
        ng-init="gif=false"
        ng-mouseover="gif=true"
        ng-mouseleave="gif=false"
      />
      <p>
        {{ ::record.metadata.title.title || 'No title :(' | limitTo: 120}} {{ record.metadata.title.title.length > 120 ? ' [...]' : '' }}
      </p>
    </a>
    <p ng-class="{'cds-visibility-visible': show, 'cds-visibility-hidden': !show}" class="cds-transition t-w">
      {{ ::record.metadata.description.value | limitTo: 60 }}
    </p>
  </div>
</div>
