<div class="row">
  <div class="col-md-4" ng-repeat="record in vm.invenioSearchResults.hits.hits track by $index">
    <a ng-mouseenter="show=true"
       ng-mouseleave="show=false"
       class="cds-transition cds-video-title l-w cds-line-height-100"
       target="_self"
       ng-href="/record/{{ record.id }}"
       ng-class="{'cds-video-title-with-play-button': !show}">
      <img
        class="img-responsive"
        gif-src="{{ record | iiif:true:[400,220] }}"
        img-src="{{ record | iiif:false:[400,220] }}"
        ng-src="{{ record | iiif:false:[400,220] }}"
        err-src="//unsplash.it/1024/576?random&blur"
        image-progressive-loading
      />
      <p>
        {{ record.metadata.title.title || 'No title :(' | limitTo: 60}} {{ record.metadata.title.title.length > 60 ? ' [...]' : '' }}
      </p>
    </a>
    <p ng-class="{'cds-visibility-visible': show, 'cds-visibility-hidden': !show}" class="cds-transition t-w">
      {{ record.metadata.description | limitTo: 60 }}
    </p>
  </div>
</div>
