<div class="row">
  <div class="col-md-4" ng-repeat="record in vm.invenioSearchResults.hits.hits track by $index">
    <a class="cds-transition cds-video-title l-b cds-line-height-100"
       target="_self"
       ng-class="{'cds-video-title-with-play-button': !show}"
       ng-mouseover="show=true"
       ng-mouseleave="show=false"
       ng-href="/record/{{ record.id }}">
      <img
        class="img-responsive"
        gif-src="{{ record | iiif:true:[400,224] }}"
        img-src="{{ record | iiif:false:[400,224] }}"
        ng-src="{{ record | iiif:false:[400,224] }}"
        err-src="/static/img/not_found.png"
        image-progressive-loading
      />
      <p>
        {{ record.metadata.title.title || 'No title :(' | limitTo: 60 }}
        {{ record.metadata.title.title.length > 60 ? ' [...]' : '' }}
      </p>
    </a>
  </div>
</div>
