<div class="row">
  <div class="col-md-4 mb-20" ng-repeat="record in vm.invenioSearchResults.hits.hits track by $index">
    <a class="cds-video-title l-b" target="_self" ng-href="/record/{{ record.id }}">
      <img
        class="img-responsive"
        gif-src="{{ record | iiif:true:[330,190] }}"
        img-src="{{ record | iiif:false:[330,190] }}"
        ng-src="{{ record | iiif:false:[20,11] }}"
        err-src="//unsplash.it/1024/576>?random&blur"
        image-progressive-loading
      />
      <span ng-hide="!record.metadata.duration" class="cds-video-duration">{{ record.metadata.duration }}</span>
      <p>
        {{ record.metadata.title.title || 'No title :(' | limitTo: 120}} {{ record.metadata.title.title.length > 120 ? ' [...]' : '' }}
      </p>
    </a>
  </div>
</div>
