<div class="row">
  <div class="col-sm-4 mb-20" ng-repeat="record in vm.invenioSearchResults.hits.hits track by $index">
    <a class="cds-video-title l-b" target="_self" ng-href="/record/{{ ::record.id }}">
      <img
        class="img-responsive"
        ng-src="{{ record | iiif:gif:[330,190] }}"
        err-src="//unsplash.it/1024/576>?random&blur"
        ng-init="gif=false"
        ng-mouseover="gif=true"
        ng-mouseleave="gif=false"
      />
      <span ng-hide="!record.metadata._deposit.extracted_metadata.duration" class="cds-video-duration">{{ ::record.metadata._deposit.extracted_metadata.duration | toMinutes }}</span>
      <p>
        {{ ::record.metadata.title.title || 'No title :(' | limitTo: 120}} {{ record.metadata.title.title.length > 120 ? ' [...]' : '' }}
      </p>
    </a>
  </div>
</div>
