<div class="text-right">
  <button
    ng-hide='$ctrl.cdsDepositCtrl.record._deposit.status == "published"'
    ng-disabled="$ctrl.cdsDepositCtrl.cdsDepositsCtrl.loading"
    class="btn btn-default btn-sm"
    ng-click="$ctrl.actionHandler('self', 'PUT')">
  Save All
  </button>

  <button
    ng-hide='$ctrl.cdsDepositCtrl.record._deposit.status == "published"'
    ng-disabled="$ctrl.cdsDepositCtrl.depositFormModel.$invalid || $ctrl.cdsDepositCtrl.cdsDepositsCtrl.loading || $ctrl.cdsDepositCtrl.depositStatusCurrent === $ctrl.cdsDepositCtrl.depositStatuses.FAILURE"
    class="btn btn-primary btn-sm"
    ng-click="$ctrl.actionMultipleHandler([['self', 'PUT'], ['publish', 'POST']], '/deposit')">
  Publish All
  </button>

  <button
    ng-hide='$ctrl.cdsDepositCtrl.record._deposit.status== "draft"'
    ng-disabled="$ctrl.cdsDepositCtrl.depositFormModel.$invalid || $ctrl.cdsDepositCtrl.cdsDepositsCtrl.loading"
    class="btn btn-success btn-sm"
    ng-click="$ctrl.actionMultipleHandler([['edit', 'POST'], ['self', 'PUT']], '/deposit')">
  Edit
  </button>
</div>
