<div ng-init="showAll=false" class="cds-deposit-box">
  <div class="alerts" ng-repeat="alert in $ctrl.cdsDepositCtrl.alerts">
    <div class="alert alert-{{alert.type}} alert-dismissible" role="alert">
      <button ng-click="$ctrl.cdsDepositCtrl.dismissAlert(this)" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      {{ alert.message }}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <!-- Brief view of the project -->
      <div class="row">
        <div class="col-sm-12">
          <div class="text-right">
            <ul class="list-inline">
              <li><span ng-show="$ctrl.cdsDepositCtrl.record.category" class="label label-default">{{$ctrl.cdsDepositCtrl.record.category}}</span></li>
              <li><span ng-show="$ctrl.cdsDepositCtrl.record.type" class="label label-warning">{{$ctrl.cdsDepositCtrl.record.type}}</span></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-12">
          <h3 class="mb-5 mt-0">
            <a ng-if="$ctrl.cdsDepositCtrl.isPublished()" ng-href="{{ $ctrl.cdsDepositCtrl.cdsDepositsCtrl.getRecordUrl($ctrl.cdsDepositCtrl.record.recid) }}">
              {{ $ctrl.cdsDepositCtrl.record.title.title || 'No project title'}}
            </a>
            <span ng-if="!$ctrl.cdsDepositCtrl.isPublished()">
              {{ $ctrl.cdsDepositCtrl.record.title.title || 'No project title'}}
            </span>
          </h3>
          <p ng-bind-html="($ctrl.cdsDepositCtrl.record.description.value | wordsSplit:70 | stripTags | trustHtml) || 'No description'"></p>
        </div>
      </div>
      <!-- Brief view of the project -->
      <div ng-show="showAll">
        <ul ng-init="active='metadata'" class="nav nav-tabs mt-20" role="tablist">
          <li role="presentation" ng-class="{active: active=='metadata'}">
            <a ng-click="active='metadata'" role="tab" data-toggle="tab">
              Basic Info
              <small ng-show="$ctrl.cdsDepositCtrl.depositFormModels[0].$invalid || $ctrl.cdsDepositCtrl.depositFormModels[1].$invalid"><i class="fa fa-circle text-danger"></i></small>
            </a>
          </li>
          <li role="presentation" ng-class="{active: active=='licenses'}">
            <a ng-click="active='licenses'" role="tab" data-toggle="tab">
              Licenses
              <small ng-show="$ctrl.cdsDepositCtrl.depositFormModels[2].$invalid"><i class="fa fa-circle text-danger"></i></small>
            </a>
          </li>
          <li role="presentation" ng-class="{active: active=='translations'}">
            <a ng-click="active='translations'" role="tab" data-toggle="tab">
              Translations
              <small ng-show="$ctrl.cdsDepositCtrl.depositFormModels[3].$invalid"><i class="fa fa-circle text-danger"></i></small>
            </a>
          </li>
          <li role="presentation" ng-class="{active: active=='access'}">
            <a ng-click="active='access'" role="tab" data-toggle="tab">
              Access rights
              <small ng-show="$ctrl.cdsDepositCtrl.depositFormModels[4].$invalid"><i class="fa fa-circle text-danger"></i></small>
            </a>
          </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content cds-tab-content pa-20 ">
          <div ng-show="active=='metadata'" role="tabpanel" ng-class="{active: active=='metadata'}" class="tab-pane">
            <div class="row">
              <div class="col-sm-6">
                <form
                  name="$ctrl.cdsDepositCtrl.depositFormModels[0]"
                  class="form"
                  sf-schema="$ctrl.cdsDepositCtrl.schema"
                  sf-form="$ctrl.form.basic.leftColumn"
                  sf-model="$ctrl.cdsDepositCtrl.record"
                  sf-options="$ctrl.sfOptions"
                ></form>
              </div>
              <div class="col-sm-6">
                <form
                  name="$ctrl.cdsDepositCtrl.depositFormModels[1]"
                  class="form"
                  sf-schema="$ctrl.cdsDepositCtrl.schema"
                  sf-form="$ctrl.form.basic.rightColumn"
                  sf-model="$ctrl.cdsDepositCtrl.record"
                  sf-options="$ctrl.sfOptions"
                ></form>
              </div>
            </div>
          </div>
          <div ng-show="active=='licenses'" role="tabpanel" ng-class="{active: active=='licenses'}" class="tab-pane">
            <div class="row">
              <div class="col-sm-12">
                <form
                  name="$ctrl.cdsDepositCtrl.depositFormModels[2]"
                  class="form"
                  sf-schema="$ctrl.cdsDepositCtrl.schema"
                  sf-form="$ctrl.form.licenses"
                  sf-model="$ctrl.cdsDepositCtrl.record"
                  sf-options="$ctrl.sfOptions"
                ></form>
              </div>
            </div>
          </div>
          <div ng-show="active=='translations'" role="tabpanel" ng-class="{active: active=='translations'}" class="tab-pane">
            <div class="row">
              <div class="col-sm-12">
                <form
                  name="$ctrl.cdsDepositCtrl.depositFormModels[3]"
                  class="form"
                  sf-schema="$ctrl.cdsDepositCtrl.schema"
                  sf-form="$ctrl.form.translations"
                  sf-model="$ctrl.cdsDepositCtrl.record"
                  sf-options="$ctrl.sfOptions"
                ></form>
              </div>
            </div>
          </div>
          <div ng-show="active=='access'" role="tabpanel" ng-class="{active: active=='access'}" class="tab-pane">
            <div class="row">
              <div class="col-sm-6">
                <h4>Share deposit with</h4>
                <form
                  name="$ctrl.cdsDepositCtrl.depositFormModels[4]"
                  class="form"
                  sf-schema="$ctrl.cdsDepositCtrl.schema"
                  sf-form="$ctrl.form.access"
                  sf-model="$ctrl.cdsDepositCtrl.record"
                  sf-options="$ctrl.sfOptions"
                ></form>
              </div>
              <!-- Record permissions -->
              <div class="col-sm-6">
                <h4>Record restrictions</h4>
                <div ng-show="$ctrl.cdsDepositCtrl.record.category">
                  <select
                    ng-model="$ctrl.permissions"
                    ng-change="$ctrl.changeAccess()"
                    class="form-control"
                    ng-disabled="!$ctrl.cdsDepositCtrl.cdsDepositsCtrl.accessRights.metadata.access.public || $ctrl.cdsDepositCtrl.isPublished()"
                  >
                    <option value="public" ng-selected="$ctrl.permissions === 'public'">
                      Public
                    </option>
                    <option value="restricted" ng-selected="$ctrl.permissions === 'restricted'">
                      Restricted
                    </option>
                  </select>
                  <div class="restricted mt-20"  ng-show="$ctrl.permissions ==='restricted'">
                    <label class="control-label ng-binding">
                      Choose who has access to the record
                    </label>
                    <ui-select
                     multiple
                     on-select="$ctrl.cdsDepositCtrl.setDirty()"
                     ng-model="$ctrl.cdsDepositCtrl.record._access.read"
                     theme="bootstrap"
                     ng-disabled="(!$ctrl.cdsDepositCtrl.record.category && $ctrl.cdsDepositCtrl.cdsDepositsCtrl.accessRights.metadata.access.public === 'public') || $ctrl.cdsDepositCtrl.isPublished()"
                     title="Add emails"
                    >
                     <ui-select-match
                      ui-lock-choice="($ctrl.cdsDepositCtrl.cdsDepositsCtrl.accessRights.metadata.access.restricted || []).indexOf($item) > -1"
                      placeholder="Select emails..."
                    >
                      {{$item}}
                    </ui-select-match>
                     <ui-select-choices
                     repeat="email in $ctrl.accessSuggestions | filter:$select.search"
                     refresh="$ctrl.autocompleteAccess($select.search)"
                     >
                       {{email}}
                     </ui-select-choices>
                   </ui-select>
                  </div>
                </div>
                <div ng-show="!$ctrl.cdsDepositCtrl.record.category">
                  Please select a category from the Basic Info tab.
                </div>
              </div>
              <!-- Record permissions -->
            </div>
          </div>
        </div>
      </div>
      <!-- Tab panes -->
      <hr />
      <div class="text-center">
        <a class="btn btn-default btn-sm" ng-click="showAll=!showAll">{{ showAll ? 'Show less' : 'Show more' }}</a>
      </div>
    </div>
  </div>
</div>
