<div class="panel cds-deposit-panel cds-deposit-panel-project panel-default">
  <div class="panel-heading px-20 py-10">
    <span class=" text-muted"><i class="fa fa-list-ul"></i> Project</span>
    <div class="pull-right">
      <button  class="btn btn-sm btn-default" ng-click="dialogShown = true"><i class="fa fa-info"></i></button>
      <cds-actions template="/static/templates/cds_deposit/types/project/actions.html"></cds-actions>
      <modal-dialog show="dialogShown" dialog-title="What is a project?">
        <div class="text-left">
          <p>A project is a set of metadata common to a collection of videos.</p>
          <p>You can define category, type, license and access restriction on the project and they will be applied to each
          video of the project.</p>
        </div>
      </modal-dialog>
    </div>
  </div>
    <div class="panel-body">
      <!-- Error alert -->
      <div class="alerts" ng-repeat="alert in $ctrl.cdsDepositCtrl.alerts">
        <div ng-if="alert.errors.length > 0 && alert.type == 'danger'">
          <div class="alert alert-danger" uib-alert close="$ctrl.cdsDepositCtrl.alerts.splice($index, 1)">
            <strong>{{ alert.message }}</strong>
            <ul>
              <li ng-repeat="error in alert.errors"><b>{{ error.field }}</b> {{error.message}}</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /Alerts -->
      <!-- Collapsed -->
      <div ng-init="projectCollapsed=true" ng-show="projectCollapsed">
        <div ng-show="$ctrl.cdsDepositCtrl.isPublished()">
          <ul class="list-inline">
            <li><span class="label label-default">{{$ctrl.cdsDepositCtrl.cdsDepositsCtrl.master.metadata.category}}</span></li>
            <li><span class="label label-warning">{{$ctrl.cdsDepositCtrl.cdsDepositsCtrl.master.metadata.type}}</span></li>
            <li><span class="label label-primary">Published</span></li>
          </ul>
          <hr class="my-15" />
          <h3 class="mb-5 mt-0">
            <a ng-href="{{ $ctrl.cdsDepositCtrl.cdsDepositsCtrl.getRecordUrl($ctrl.cdsDepositCtrl.record.recid) }}">
              {{ $ctrl.cdsDepositCtrl.record.title.title || 'No video title'}}
            </a>
          </h3>
          <p class="f6" ng-bind-html="($ctrl.cdsDepositCtrl.record.description | trustHtml) || 'No description'"></p>
        </div>
        <!-- Not published -->
        <div ng-show="!$ctrl.cdsDepositCtrl.isPublished()">
          <div class="row">
            <div class="col-sm-6">
              <form
                name="$ctrl.cdsDepositCtrl.depositFormModels[4]"
                class="form"
                sf-schema="$ctrl.cdsDepositCtrl.schema"
                sf-form="$ctrl.form.collapsed.leftColumn"
                sf-model="$ctrl.cdsDepositCtrl.record"
                sf-options="$ctrl.sfOptions"
              ></form>
            </div>
            <div class="col-sm-6">
                <form
                name="$ctrl.cdsDepositCtrl.depositFormModels[5]"
                class="form"
                sf-schema="$ctrl.cdsDepositCtrl.schema"
                sf-form="$ctrl.form.collapsed.rightColumn"
                sf-model="$ctrl.cdsDepositCtrl.record"
                sf-options="$ctrl.sfOptions"
              ></form>
            </div>
          </div>
          <div class="row">
              <div class="col-sm-12 text-center text-muted">
                <span ng-if="!$ctrl.isAnyVideoAlreadyPublished()">Select category and type, they will be applied to the project and all videos.</span>
                <span ng-if="$ctrl.isAnyVideoAlreadyPublished()">Category and type can be changed only if no video has been published yet.</span>
              </div>
          </div>
        </div>
        <!-- Not published -->
        <div class="row">
          <div class="col-sm-12 text-center">
            <hr class="mb-15" />
            <button
              class="btn btn-sm btn-default"
              ng-click="projectCollapsed=!projectCollapsed">
              Show details
            </button>
          </div>
        </div>
      </div>
      <!-- /Collapsed -->
      <!-- Expanded -->
      <div class="row" ng-show="!projectCollapsed">
        <div class="col-sm-12">
          <ul ng-init="active='metadata'" class="nav nav-tabs" role="tablist">
            <li role="presentation" ng-class="{active: active=='metadata'}">
              <a ng-click="active='metadata'" role="tab" data-toggle="tab">
                Basic Info
              </a>
            </li>
            <li role="presentation" ng-class="{active: active=='files'}">
              <a ng-click="active='files'" role="tab" data-toggle="tab">
                Files
              </a>
            </li>
            <li role="presentation" ng-class="{active: active=='licenses'}">
              <a ng-click="active='licenses'" role="tab" data-toggle="tab">
                Licences
              </a>
            </li>
            <li role="presentation" ng-class="{active: active=='translations'}">
              <a ng-click="active='translations'" role="tab" data-toggle="tab">
                Translations
              </a>
            </li>
            <li role="presentation" ng-class="{active: active=='access'}">
              <a ng-click="active='access'" role="tab" data-toggle="tab">
                Share
              </a>
            </li>
            <li role="presentation" ng-class="{active: active=='admin'}" ng-show="$ctrl.cdsDepositCtrl.cdsDepositsCtrl.showAdminInterface">
              <a ng-click="active='admin'" role="tab" data-toggle="tab">
                <i class="fa fa-bug" aria-hidden="true"></i> Admin
              </a>
            </li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content cds-tab-content pt-20 px-20">
            <div ng-show="active=='metadata'" role="tabpanel" ng-class="{active: active=='metadata'}" class="tab-pane">
              <div class="row">
                <div class="col-sm-6">
                  <form
                    name="$ctrl.cdsDepositCtrl.depositFormModels[0]"
                    class="form"
                    sf-schema="$ctrl.cdsDepositCtrl.schema"
                    sf-form="$ctrl.form.basic.leftColumn"
                    sf-model="$ctrl.cdsDepositCtrl.record"
                    sf-options="$ctrl.sfOptions"
                  ></form>
                </div>
                <div class="col-sm-6">
                  <form
                    name="$ctrl.cdsDepositCtrl.depositFormModels[1]"
                    class="form"
                    sf-schema="$ctrl.cdsDepositCtrl.schema"
                    sf-form="$ctrl.form.basic.rightColumn"
                    sf-model="$ctrl.cdsDepositCtrl.record"
                    sf-options="$ctrl.sfOptions"
                  ></form>

                </div>
                <div class="col-sm-12">
                  <hr class="my-15" />
                  <div class="alert alert-info">
                    <h4>Record restrictions</h4>
                    <div ng-show="$ctrl.cdsDepositCtrl.record.category">
                      <select
                        ng-model="$ctrl.permissions"
                        ng-change="$ctrl.applyNewAccessRights()"
                        class="form-control"
                        ng-disabled="!$ctrl.cdsDepositCtrl.cdsDepositsCtrl.accessRights.metadata.access.public || $ctrl.cdsDepositCtrl.isPublished()"
                      >
                        <option value="public" ng-selected="$ctrl.permissions === 'public'">
                          Public
                        </option>
                        <option value="restricted" ng-selected="$ctrl.permissions === 'restricted'">
                          Restricted
                        </option>
                      </select>
                      <div ng-init="$ctrl.selectedRestricted=$ctrl.cdsDepositCtrl.record._access.read"  class="restricted mt-20"  ng-show="$ctrl.permissions ==='restricted'">
                        <label class="control-label ng-binding">
                          Choose who has access to the record
                        </label>
                        <ui-select
                         multiple
                         theme="bootstrap"
                         ng-disabled="(!$ctrl.cdsDepositCtrl.record.category && $ctrl.cdsDepositCtrl.cdsDepositsCtrl.accessRights.metadata.access.public === 'public') || $ctrl.cdsDepositCtrl.isPublished()"
                         title="Enter personal emails or e-group emails here"
                         on-select="$ctrl.onSelectValue($item, $model, '_access.read');$ctrl.selectedRestricted=$ctrl.cdsDepositCtrl.record._access.read"
                         on-remove="$ctrl.onRemoveValue($item, $model, '_access.read');$ctrl.selectedRestricted=$ctrl.cdsDepositCtrl.record._access.read"
                         ng-model="$ctrl.selectedRestricted"
                        >
                         <ui-select-match
                          ui-lock-choice="($ctrl.cdsDepositCtrl.cdsDepositsCtrl.accessRights.metadata.access.restricted || []).indexOf($item) > -1"
                          placeholder="Enter personal emails or e-group emails here"
                        >
                          {{ $item.email || $item }}
                        </ui-select-match>
                         <ui-select-choices
                          repeat="suggestion.email as suggestion in $ctrl.accessSuggestions"
                          refresh="$ctrl.autocompleteAccess($select.search)"
                          refresh-delay="100"
                         >
                           <div ng-bind-html="suggestion.name | highlight: $select.search"></div>
                           <small ng-if="!suggestion.isUserInput"><{{suggestion.email}}></small>
                         </ui-select-choices>
                         <ui-select-no-choice>
                           <p class="pa-5 mb-0">
                             <span ng-show="$select.search">
                               Not results for "{{$select.search}}"
                             </span>
                             <span ng-show="!$select.search">
                               Start typing a name ...
                             </span>
                           </p>
                         </ui-select-no-choice>
                       </ui-select>
                      </div>
                    </div>
                    <div ng-show="!$ctrl.cdsDepositCtrl.record.category">
                      Please select a category from the Basic Info tab.
                    </div>
                  </div> <!-- Alert -->
                </div>
              </div>
            </div>
            <div ng-show="active=='files'" role="tabpanel" ng-class="{active: active=='files'}"  class="tab-pane">
              <div ng-transclude></div>
            </div>
            <div ng-show="active=='licenses'" role="tabpanel" ng-class="{active: active=='licenses'}" class="tab-pane">
              <div class="row">
                <div class="col-sm-12">
                  <form
                    name="$ctrl.cdsDepositCtrl.depositFormModels[2]"
                    class="form"
                    sf-schema="$ctrl.cdsDepositCtrl.schema"
                    sf-form="$ctrl.form.licenses"
                    sf-model="$ctrl.cdsDepositCtrl.record"
                    sf-options="$ctrl.sfOptions"
                  ></form>
                </div>
              </div>
            </div>
            <div ng-show="active=='translations'" role="tabpanel" ng-class="{active: active=='translations'}" class="tab-pane">
              <div class="row">
                <div class="col-sm-12">
                  <form
                    name="$ctrl.cdsDepositCtrl.depositFormModels[3]"
                    class="form"
                    sf-schema="$ctrl.cdsDepositCtrl.schema"
                    sf-form="$ctrl.form.translations"
                    sf-model="$ctrl.cdsDepositCtrl.record"
                    sf-options="$ctrl.sfOptions"
                  ></form>
                </div>
              </div>
            </div>
            <div ng-show="active=='access'" role="tabpanel" ng-class="{active: active=='access'}" class="tab-pane">
              <div ng-init="$ctrl.selectedShare=$ctrl.cdsDepositCtrl.record._access.update" class="row">
                <div class="col-sm-12">
                  <h4>Grant access to the project</h4>
                  <ui-select
                   multiple
                   on-select="$ctrl.onSelectValue($item, $model, '_access.update');$ctrl.selectedShare=$ctrl.cdsDepositCtrl.record._access.update"
                   on-remove="$ctrl.onRemoveValue($item, $model, '_access.update');$ctrl.selectedShare=$ctrl.cdsDepositCtrl.record._access.update"
                   ng-model="$ctrl.selectedShare"
                   theme="bootstrap"
                   ng-disabled="$ctrl.cdsDepositCtrl.isPublished()"
                   title="Enter personal emails or e-group emails here"
                  >
                   <ui-select-match
                    placeholder="Enter personal emails or e-group emails here"
                  >
                    {{ $item.email || $item }}
                  </ui-select-match>
                   <ui-select-choices
                    repeat="suggestion.email as suggestion in $ctrl.accessSuggestions"
                    refresh="$ctrl.autocompleteAccess($select.search)"
                    refresh-delay="100"
                   >
                     <div ng-bind-html="suggestion.name | highlight: $select.search"></div>
                     <small ng-if="!suggestion.isUserInput"><{{suggestion.email}}></small>
                   </ui-select-choices>
                   <ui-select-no-choice>
                     <p class="pa-5 mb-0">
                       <span ng-show="$select.search">
                         Not results for "{{$select.search}}"
                       </span>
                       <span ng-show="!$select.search">
                         Start typing a name ...
                       </span>
                     </p>
                   </ui-select-no-choice>
                 </ui-select>
                </div>
              </div>
            </div>
            <div ng-show="active=='admin'" role="tabpanel" ng-class="{active: active=='admin'}" class="tab-pane">
              <div ng-if="$ctrl.cdsDepositCtrl.cdsDepositsCtrl.showAdminInterface" class="panel panel-danger">
                <div class="panel-heading">Danger Zone</div>
                <div class="panel-body">
                    <button
                      class="btn btn-lg btn-danger"
                      ng-disabled="$ctrl.cdsDepositCtrl.actionLoading"
                      ng-click="$ctrl.deleteDeposit()">
                      {{ $ctrl.cdsDepositCtrl.actionLoading ? 'Deleting ...' : 'Delete Project' }}
                    </button>
                </div>
              </div>
          </div>
          <!-- Tab panes -->
          <div class="col-sm-12 pa-5">
            <hr class="mb-15" />
            <div class="text-center">
                <button
                  class="btn btn-sm btn-default"
                  ng-click="projectCollapsed=!projectCollapsed">
                  Hide details
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- /Expanded -->
    </div>
</div>
