<div data-id="{{id}}" data-state="normal" class="col-md-4 col-sm-12">
    <div class="personal-box personal-box-draggable">
        <!-- Menu -->
        <div class="personal-box-nav">
            <div class="text-left">
                <div class="personal-box-loading">
                    Loading ...
                </div>
            </div>
            <div class="text-right">
                {{>nav}}
            </div>
        </div>
        <!-- Header -->
        <div class="personal-box-header">
            {{>header}}
        </div>
        <!-- Body -->
        <div class="personal-box-body">
        {{>body}}
        </div>
        <!-- Footer -->
        <div class="personal-box-footer">
        {{>footer}}
        </div>
    </div>
</div>
