<modal-dialog show="$ctrl.confirmNewMaster" width="50%">
  <p>Are you sure you want to replace the master file with {{ $ctrl.newMasterName }}?</p>
  <p class="pull-right">
    <button class="btn btn-success" ng-click="$parent.hideModal(); $ctrl.newMasterDefer.resolve()">Yes</button>
    <button class="btn btn-danger" ng-click="$parent.hideModal(); $ctrl.newMasterDefer.reject()">No</button>
  </p>
</modal-dialog>
<div ng-show="$ctrl.files.length > 0" class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-sm-6">
        <p ng-show="$ctrl.files.length > 0" class="text-muted">
        </p>
      </div>
      <div class="col-sm-12">
        <div class="form-group">
          <input type="text" class="input-sm form-control" placeholder="Search" ng-model="fileSearch" />
        </div>
      </div>
    </div>
  </div>
  <table class="table">
    <tr>
      <th>
        <a ng-click='sortType="key"; sortReverse=!sortReverse'>
          Filename
          <span ng-show="sortType == 'key' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'key' && sortReverse" class="fa fa-caret-up"></span>
        </a>
      </th>
      <th>
        <a ng-click='sortType="size"; sortReverse=!sortReverse'>
          Size
          <span ng-show="sortType == 'size' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'size' && sortReverse" class="fa fa-caret-up"></span>
        </a>
      </th>
      <th class="text-center">Progress</th>
      <th class="text-center">Actions</th>
    </tr>
    <tr class="sel-file" ng-class="{'active': f.context_type ==='master'}" ng-repeat="f in $ctrl.files | orderBy:sortType:sortReverse | filter:fileSearch">
      <td title="{{ f.key }}">{{ f.key | limitTo:40 }} <span ng-show="f.key.length > 40">...</span></td>
      <td>
        <span ng-show="f.size != undefined">{{ f.size | bytesToHumanReadable }}</span>
        <span ng-show="f.size == undefined">Unknown</span>
      </td>
      <td class="text-center">
        <span ng-show="f.percentage < 100 && !f.errored">{{ f.percentage }} %</span>
        <span ng-show="f.processing && !f.errored">Processing...</span>
        <span ng-show="f.errored" class="text-danger">Error</span>
        <span ng-show="(f.completed || f.percentage==100) && !f.errored" class="text-success">✓</span>
      </td>
      <td ng-show="f" class="text-center">
        <a ng-hide="f.context_type ==='master' || f.percentage < 100" ng-click="$ctrl.remove(f.key)">
          <i class="fa fa-trash-o"></i>
        </a>
        <span ng-show="f.context_type ==='master' || f.percentage < 100">
          <a ng-click="dialogShown = true"><i class="fa fa-info"></i></a>
          <modal-dialog show="dialogShown" dialog-title="How to update the video file" width="50%">
            <p class="text-left">To replace the video file, just upload another video file.</p>
          </modal-dialog>
        </span>
      </td>
    </tr>
    <tr ng-show="($ctrl.files | filter:fileSearch).length == 0">
      <td colspan="4" class="text-center text-muted"> No results.</td>
    </tr>
    <tr class="warning" ng-show="($ctrl.cdsDepositCtrl.currentMasterFile.subformat||[]).length > 0">
      <td>Extracted subformats</td>
      <td></td>
      <td class="text-center"></td>
      <td class="text-center">
        <a ng-click="showSubformats = !showSubformats">
          <span ng-show="!showSubformats">Show</span>
          <span ng-show="showSubformats">Hide</span>
        </a>
      </td>
    </tr>
    <tr ng-if="f.key" class="sel-file" ng-repeat="f in $ctrl.cdsDepositCtrl.currentMasterFile.subformat" ng-show="showSubformats">
      <td title="{{ f.key }}">{{ f.key | limitTo:40 }} <span ng-show="f.key.length > 40">...</span></td>
      <td>
      </td>
      <td class="text-center">
        <span ng-if="f.percentage > 0 && !f.completed && !f.errored">{{ f.percentage | toInt }} %</span>
        <span ng-if="!f.percentage && !f.completed && !f.errored"><i class="fa fa-spinner fa-spin"></i></span>
        <span ng-show="f.errored" class="text-danger">Error</span>
        <span ng-show="f.completed && !f.errored" class="text-success">✓</span>
      </td>
      <td ng-show="f" class="text-center">
        <span ng-show="f.errored">
          <a ng-click="$ctrl.cdsDepositCtrl.restartFailedSubformats([f.key])">
            <i class="fa fa-undo"></i>
          </a>
        </span>
      </td>
    </tr>
    <tr class="warning" ng-show="$ctrl.cdsDepositCtrl.currentMasterFile.frame">
      <td>Extracted frames</td>
      <td></td>
      <td></td>
      <td class="text-center">
        <a ng-click="showFrames = !showFrames">
          <span ng-show="!showFrames">Show</span>
          <span ng-show="showFrames">Hide</span>
        </a>
      </td>
    </tr>
    <tr ng-show="showFrames">
      <td colspan="4">
        <div class="row cds-deposit-thumbnail-pad">
          <div class="cds-deposit-frame-thumbnail" ng-repeat="frame in $ctrl.cdsDepositCtrl.currentMasterFile.frame">
            <a ng-href="{{ frame.links.self }}" target="_blank">
              <img ng-if="showFrames" width="100%" ng-src="{{ $ctrl.thumbnailPreview(frame.key) }}" />
            </a>
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>
<hr />
<div class="cds-deposit-box" ng-if="!$ctrl.cdsDepositCtrl.isPublished()">
  <ul class="nav nav-pills cds-pills-center" ng-init="active_uploader='local'">
    <li ng-class="{active: active_uploader=='local'}"><a ng-click="active_uploader='local'" role="tab" data-toggle="tab">Upload local files</a></li>
    <li ng-class="{active: active_uploader=='remote'}"><a ng-click="active_uploader='remote'" role="tab" data-toggle="tab">Upload by URL</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane" ng-class="{active: active_uploader=='local'}">
      <div
          ngf-drag-over-class="'cds-deposit-dragover'"
           ngf-drop=""
           ngf-change="$ctrl.addFiles($newFiles, $invalidFiles)"
           ngf-select=""
           ngf-model-options="{allowInvalid: false}"
           ngf-max-size="20GB"
           ngf-multiple="true"
      >
        <div class="cds-deposit-box-upload-wrapper text-center">
          <p class="cds-deposit-box-upload-icon">
            <i class="fa fa-3x fa-cloud-upload" aria-hidden="true"></i>
          </p>
          <div class="cds-deposit-box-upload-content">
            <div class="cds-deposit-box-upload-title">
              <h4>Select files to upload</h4>
            </div>
            <p class="cds-deposit-box-upload-description"> Or Drag & Drop video files</p>
          </div>
        </div>
      </div>
      </div>
    <div class="tab-pane" ng-class="{active: active_uploader=='remote'}">
        <div ng-transclude></div>
    </div>
  </div>
</div>
<div ng-if="$ctrl.duplicateFiles.length" class="alert alert-danger">
  <p>
    Multiple files with the same filename are not allowed:
  </p>
  <ul>
    <li ng-repeat="file in $ctrl.duplicateFiles">
      {{ file }}
    </li>
  </ul>
</div>
