<div ng-show="$ctrl.files.length > 0" class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-sm-6">
        <p ng-show="$ctrl.files.length > 0" class="text-muted">
        </p>
      </div>
      <div class="col-sm-12">
        <div class="form-group">
          <input type="text" class="input-sm form-control" placeholder="Search" ng-model="fileSearch" />
        </div>
      </div>
    </div>
  </div>
  <table class="table">
    <tr>
      <th>
        <a ng-click='sortType="key"; sortReverse=!sortReverse'>
          Filename
          <span ng-show="sortType == 'key' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'key' && sortReverse" class="fa fa-caret-up"></span>
        </a>
      </th>
      <th>
        <a ng-click='sortType="size"; sortReverse=!sortReverse'>
          Size
          <span ng-show="sortType == 'size' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'size' && sortReverse" class="fa fa-caret-up"></span>
        </a>
      </th>
      <th class="text-center">Progress</th>
      <th class="text-center">Actions</th>
    </tr>
    <tr class="sel-file" ng-repeat="f in $ctrl.files | orderBy:sortType:sortReverse | filter:fileSearch">
      <td>{{ f.key | limitTo:30 }} <span ng-show="f.key.length > 30">...</span></td>
      <td>
        <span ng-show="f.size != undefined">{{ f.size | bytesToHumanReadable }}</span>
        <span ng-show="f.size == undefined">Unknown</span>
      </td>
      <td class="text-center">
        <span ng-show="f.progress < 100 && !f.errored">{{ f.progress }} %</span>
        <span ng-show="f.processing && !f.errored">Processing...</span>
        <span ng-show="f.errored" class="text-danger">Error</span>
        <span ng-show="f.progress==100 && !f.errored" class="text-success">✓</span>
      </td>
      <td ng-show="f" class="text-center"><a ng-click="$ctrl.remove(f.key)">✗</a></td>
    </tr>
    <tr ng-show="($ctrl.files | filter:fileSearch).length == 0">
      <td colspan="4" class="text-center text-muted"> No results.</td>
    </tr>
    <tr class="warning" ng-show="$ctrl.getSubformats()">
      <td>Extracted subformats</td>
      <td></td>
      <td class="text-center">
        <span class="text-success">✓</span>
      </td>
      <td class="text-center">
        <a ng-click="showSubformats = !showSubformats">
          <span ng-show="!showSubformats">Show</span>
          <span ng-show="showSubformats">Hide</span>
        </a>
      </td>
    </tr>
    <tr class="sel-file" ng-repeat="f in $ctrl.getSubformats()" ng-show="showSubformats">
      <td>{{ f.key | limitTo:40 }} <span ng-show="f.key.length > 50">...</span></td>
      <td>
        <span>{{ f.size | bytesToHumanReadable }}</span>
      </td>
      <td class="text-center">
        <span class="text-success">✓</span>
      </td>
      <td ng-show="f" class="text-center"><a ng-click="$ctrl.remove(f.key)">✗</a></td>
    </tr>
    <tr class="warning" ng-show="$ctrl.getFrames()">
      <td>Extracted frames</td>
      <td></td>
      <td class="text-center">
        <span class="text-success">✓</span>
      </td>
      <td class="text-center">
        <a ng-click="showFrames = !showFrames">
          <span ng-show="!showFrames">Show</span>
          <span ng-show="showFrames">Hide</span>
        </a>
      </td>
    </tr>
    <tr ng-show="showFrames">
      <td colspan="4">
        <div class="row cds-deposit-thumbnail-pad">
          <div class="cds-deposit-frame-thumbnail" ng-repeat="frame in $ctrl.getFrames()">
            <a ng-href="{{ frame.links.self }}" target="_blank">
              <img ng-if="showFrames" width="100%" ng-src="{{ $ctrl.thumbnailPreview(frame.key) }}" />
            </a>
          </div>
        </div>
      </td>
    </tr>
  </table>
  <div class="panel-footer">
    <div class="text-right">
      <span class="text-muted" ng-show="$ctrl.loading">
        <i class="fa fa-spinner fa-pulse fa-fw"></i>
        <span class="sr-only">Loading...</span>
      </span>
      <button class="btn btn-sm btn-default" type="submit" ng-show="$ctrl.invenioFilesBusy" ng-click="$ctrl.cancel()">Cancel</button>
      <button class="btn btn-sm btn-primary" type="submit" ng-disabled="$ctrl.loading || $ctrl.getCompleted().length === 0 || $ctrl.allFinished()" ng-click="$ctrl.upload()">Start upload</button>
    </div>
  </div>
</div>
<hr />

<div class="cds-deposit-box">
  <ul class="nav nav-pills cds-pills-center" ng-init="active_uploader='local'">
    <li ng-class="{active: active_uploader=='local'}"><a ng-click="active_uploader='local'" role="tab" data-toggle="tab">Upload local files</a></li>
    <li ng-class="{active: active_uploader=='remote'}"><a ng-click="active_uploader='remote'" role="tab" data-toggle="tab">Upload by URL</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane" ng-class="{active: active_uploader=='local'}">
      <div
           ngf-drag-over-class="'dragover'"
           ngf-drop=""
           ngf-change="$ctrl.addFiles($newFiles)"
           ngf-select=""
           ngf-max-size="20GB"
           ngf-multiple="true"
      >
        <div class="cds-deposit-box-upload-wrapper text-center">
          <p class="cds-deposit-box-upload-icon">
            <i class="fa fa-3x fa-cloud-upload" aria-hidden="true"></i>
          </p>
          <div class="cds-deposit-box-upload-content">
            <div class="cds-deposit-box-upload-title">
              <h4>Select files to upload</h4>
            </div>
            <p class="cds-deposit-box-upload-description"> Or drag and drop video files</p>
          </div>
        </div>
      </div>
      </div>
    <div class="tab-pane" ng-class="{active: active_uploader=='remote'}">
        <div ng-transclude></div>
    </div>
  </div>
</div>
