<div ng-show="vm.invenioSearchResults.hits.total === 0">
  <div class="well">
    <div class="text-center mb-20">
      <i class="fa fa-search f2"></i>
    </div>
    <p class="f5">
      No results found for
      <div ng-repeat="(key, value) in vm.invenioSearchCurrentArgs.params" ng-if="['page', 'size'].indexOf(key) == -1">
        <p class="f6" ng-if="key=='q' && value!=''">
          "<em>{{value}}</em>"
        </p>
        <p ng-if="key!='q'">
          <strong class="text-capitalize">{{ key == 'q' ? '' : key + ':'}}</strong> <em>{{value | joinArray | isoToLanguage}}</em>
        </p>
      </div>
    </p>
  </div>
</div>
<div ng-show="vm.invenioSearchResults.hits.total > 0">
  <ng-pluralize
   count="vm.invenioSearchResults.hits.total"
   when="{'0': 'No results',
   'one': 'Found 1 result',
   'other': 'Found {} results'}">
  </ng-pluralize>
</div>
