<form
  id="cdsSearchFormSuggest"
  ng-init="focused=false"
  class="cds-navbar-form navbar-form"
  role="search"
  ng-class="{'cds-active-search': vm.userQuery || focused}"
>
  <div mass-autocomplete class="form-group">
    <input
      id="cds-navbar-form-input"
      type="text"
      name="q"
      class="form-control"
      placeholder="{{placeholder}}"
      autocomplete="off"
      mass-autocomplete-item="autocomplete_options"
      ng-model="vm.userQuery"
      ng-focus="focused=true"
      ng-blur="focused=false"
      ng-model-options="{ debounce: { 'default': 500, 'blur': 0 } }"
      ng-keyup="$event.keyCode == 13 && updateQuery()"
    />
  </div>
  <button class="hidden-xs cds-navbar-form-icon" ng-click="updateQuery()">
      <i class="t-w fa fa-search"></i>
  </button>
  <button class="visible-xs btn btn-default cds-navbar-form-icon-xs" ng-click="updateQuery()">
    <i class="fa fa-search"></i>Search
  </button>
</form>
