<div class="personal-box-body-normal" data-show="normal">
    <h4>{{header.title}}</h4>
    <ul>
        {{#items}}
            <li><a href="{{link}}" title="{{title}}">{{title}}</a></li>
        {{/items}}
    </ul>
    {{^items}}
    <div class="alert alert-warning">
    No results. If this seems wrong please double check the box query.
        </div>
    {{/items}}
    <a href="#" class="btn btn-block btn-link">{{footer.title}}</a>
</div>
